[2017-07-13 08:16] Dexaran opened #1 "Trial voting session №1"
## Purposes.
The main purposes of this voting are:
1. Establish a trial voting system that will allow me to collect feedbacks from [DEX token](https://dexaran.github.io/ICO/) holders. This will also allow to detect any voting system flaws and inconveniences and fix them before launching a final version.
2. Collect feedback from DEX token holders regarding current development state and further dire

[2017-07-13 09:38] Dexaran opened #2 "Video bounty list №1"

[2017-07-13 13:41] Dexaran commented on #1
DO NOT USE. Re-entry attack vector to be fixed.

[2017-07-15 17:08] Dexaran opened #3 "ECNS (the ENS port for Ethereum Classic)"
https://github.com/ethereumproject/ECIPs/issues/41

[2017-07-15 17:10] Dexaran opened #4 "Decentralized mining pool governed by smart-contract"
https://gitter.im/SmartPool/Lobby
https://github.com/SmartPool
http://smartpool.io/

What should be done:

- [x] Create and deploy smart-contracts (I will do it by my own). [Link to the repo](https://github.com/Dexaran/Ethereum-Commonwealth/tree/master/Pool)
- [x] Mining Pool CLlient that will collect mined shares. Source here: https://github.com/SmartPool/smartpool-client
- [ ] Web UI
- [ ] Creat

[2017-07-15 17:10] Dexaran opened #5 "DexNS (naming service to enhance testnet usability)"

[2017-07-15 17:11] Dexaran opened #6 "Geth compatibility"
https://github.com/Dexaran/go-ethereum

[2017-07-15 17:12] Dexaran opened #7 "Launch Infura analogue for Ethereum CLassic"
https://infura.io/

[2017-07-15 17:13] Dexaran opened #8 "Port of MetaMask for Ethereum CLassic."

[2017-07-15 17:14] Dexaran opened #9 "Solidity coding standard."

[2017-07-15 17:14] Dexaran opened #10 "PR campaign for Ethereum CLassic"

[2017-07-15 17:15] Dexaran opened #11 "SWARM port for Ethereum CLassic"

[2017-07-15 17:15] Dexaran opened #12 "Raiden for Ethereum CLassic"

[2017-07-15 17:16] Dexaran opened #13 "eWASM adoption."

[2017-07-15 17:16] Dexaran opened #14 "zk-SNARK implementation for Ethereum CLassic."

[2017-07-15 17:16] Dexaran opened #15 "Port of MIST for Ethereum CLassic"

[2017-07-16 17:32] yaronvel opened #16 "Advance (yet stupid) user could lose his tokens when voting in TemporaryVotepool.sol"
User who vote from a contract could call `Withdraw`, and in his `tokenFallback` function vote again.
This will result in loss of tokens, as `deposited[msg.sender]` is eventually reset.

This might be used by a malicious user to demonstrate a problem in ERC223.

[2017-07-17 06:20] Dexaran commented on #16
This is not a problem of ERC223. This is a problem of implementation (mostly a ptoblem of my TemporaryVotepool.sol contract and also a problem of user who votes from contract with re-vote function implementation).
This is possible that you will end with lost tokens if you will try to cheat.

I'll update `TemporaryVotepool.sol` contract to prevent it. Thanks for feedback anyways.

[2017-07-17 06:21] Dexaran opened #17 "Decentralized token exchange"
https://github.com/Dexaran/DecentralizedEXchange

[2017-07-17 08:31] PooSham opened #18 "ETHLance port (ETCLance?)"
ETHLance is the future of work - a no-fee marketplace for buying and selling workforce (freelancing). Would be great having it on the ETC chain. This could eventually be extended to include the whole district0x network.

https://ethlance.com/
https://district0x.io/

[2017-07-17 08:37] PooSham opened #19 "Ethercourt port"
An opt-in decentralized court. Very useful in cases where smart contracts is not enough and non-biased human decision making is needed. It's also a good protection layer smart contracts can use if there is some issue, such as with theDAO, but this time it would be explicit in the contract that humans might get involved to intervene when there are mistakes in the code.

http://ethercourt.io/#/

[2017-07-17 12:15] yaronvel opened #20 "TemporaryVotepool.sol is not compatible with GNU coding standards"
Well, even filename is not compatible.
Capital letters should be avoided in most places.

[2017-07-17 15:54] Dexaran commented on #20
It is more common to use solidity coding standard for smart-contracts. We have not yet established a new one.

If you will look at Ethereum Foundations' [ENS contracts](https://github.com/ethereum/ens/tree/master/contracts) for example, then you will see similar naming.

I will be happy to discuss a new coding standard for smart-contracts, but it's not a prior target just right now, so I'm followi

[2017-07-17 17:47] yaronvel commented on #20
It is definitely not compatible with [current solidity coding standards](http://solidity.readthedocs.io/en/develop/style-guide.html).

Function name need not be capitalized for example.

[2017-07-17 20:01] Dexaran commented on #20
Thanks for the reminder.

I will update `TemporaryVotepool.sol` anyways.

[2017-07-20 21:29] sgitt-vassky opened #21 "Viper online compiler."
I've seen that you prefer Viper adoption on Classic rather than solidity promotion. I'd like to recommend to start with creating an analogue of Remix online compiler.

[2017-07-21 08:30] Dexaran opened #22 "ICO funds were withdrawn. I started to hire developers."
I have withdrawn ICO funds. http://gastracker.io/tx/0x525d99f39a13dfc63a652945382b3ee152cee6ebe7e7ede65801b6fd504286c4

As I said earlier, I subtracted the amount of my personal deposit from the total amount of ICO funds. My personal deposit amount was 706.5 ETC. You can easily verify it because the amount of DEX tokens that I currently hold (on [this address](http://gastracker.io/addr/0x1c9a7cf3e

[2017-07-21 14:50] yograterol commented on #8
I am watching the PR that adds the port to ETC, what do you propose? A fork?

The current team of MetaMask don't want merge the PR :(

[2017-07-21 14:53] yograterol commented on #21
Why Viper over Solidity? I like Python, but which are the reason to prefer Viper? BTW, I am ok with that. So, what could be a MVP to this in features?

[2017-07-21 14:57] yograterol commented on #7
Make from Scratch or contribute to add the support to ETC?

[2017-07-21 15:06] yograterol commented on #6
Will be this job a work together with ETC DEVZ TEAM or is standalone?

[2017-07-21 15:16] yograterol commented on #15
Can we change the frontend stack for MIST in ETC? Starting for gulp, webpack is better

[2017-07-21 15:19] Dexaran commented on #15
Yes, we can change it, but I don't see any reason to start MIST development before restoring GETH compatibility.

[2017-07-21 15:22] Dexaran commented on #8
I'm proposing to make a fork (CLassic Mask). @18dew is currently working on it. It takes too long to merge a PR. If they will decide to merge it in future then we can remove our CLassic Mask and start to contribute to MetaMask development together.

[2017-07-21 15:26] Dexaran commented on #7
I'm planning to get in touch with ConsenSys. If they express a desire to support the ETC, then the problem is solved.
If they will not support ETC, then I propose to use ConsenSys code base to build a similar service for ETC.

[2017-07-21 15:29] Dexaran commented on #6
I'm not currently working on GETH and I haven't raised enough funding to hire developers to do it.

If ETC Dev Team will show a desire to work together and implement updates that I'm proposing then we can work together. I prefer to contribute to the already existing team than to do a separate version of one client.

[2017-07-21 15:42] yograterol commented on #6
I agree, what do we need to do to reach this goal?

[2017-07-21 15:43] yograterol commented on #8
Cool, where are you working it?

[2017-07-21 15:49] 18dew commented on #8
Hi,

I am trying to understand the structure of Metamask and then merging ETC logic on to it...

[2017-07-21 16:02] yograterol commented on #8
@18dew hi, :) oh, I got it, do you need help?

[2017-07-21 16:02] yograterol commented on #18
What no fee? I think that no fee is not a killer feature.

[2017-07-21 16:06] 18dew commented on #8
Once i upload the code by Sunday would need some help in testing ...

[2017-07-21 16:22] Dexaran commented on #8
@18dew please, fork [this repo[(https://github.com/Dexaran/ClassicMask) from me and work here.

[2017-07-21 16:25] Dexaran commented on #18
It's the reason of placing "revenue" label here. I'm planning to make a tiny fee (about 1%) to fund my future projects.

[2017-07-21 16:56] yograterol commented on #8
@18dew @Dexaran Yes, IMHO create a workflow would be healthy to testing early and check code, make regular commits would be better. What do you think? and create a project in that repo.

@Dexaran may be, create a organization?

[2017-07-21 16:56] yograterol commented on #18
@Dexaran that's make sense

[2017-07-21 19:51] yograterol commented on #15
@Dexaran why? may be could start at the same time.

[2017-07-21 19:52] yograterol commented on #11
Do you have any doc?

[2017-07-22 13:23] Dexaran commented on #15
If we will keep a compatibility of GET and GETH CLassic then we can develop Mist that will support both chains together. No need to create a new version or port of Mist in this case.

[2017-07-22 13:25] Dexaran commented on #11
I don't have any docs about SWARM. You can read [Ethereums SWARM docs](http://swarm-guide.readthedocs.io/en/latest/introduction.html).

[2017-07-22 13:26] Dexaran commented on #6
I'm not currently working on GETH. I'm too busy with other projects and I haven't hired anyone to work on it yet.

[2017-07-22 13:29] Dexaran commented on #8
I will think about creating an organization later. I think that we can work in my repo now and move it to organization later if we decide to do it.

[2017-07-23 13:45] ProphetDaniel commented on #7
I created an API endpoint yesterday with whisper protocol enabled, still synchronizing though. https://github.com/inzhoop-co/LETH/issues/27#

[2017-07-23 17:20] Dexaran opened #23 "Port of LETH mobile wallet with whisper protocol"
https://github.com/inzhoop-co/LETH

[2017-07-24 08:49] Dexaran commented on #21
I prefer Viper over Solidity and I fully agree that Viper should be widely adopted.
https://ethereumclassic.github.io/blog/2017-03-13-viper/

1. **Readability of the code**. Being a smart-contract auditor I can say that it is the most important point to build fault-tolerant systems. Fault-tolerance is highest prior target for smart-contracts as any error is leading to loss of millions of UDS. Soli

[2017-07-24 11:38] Dexaran commented on #21
https://tproger.ru/news/ieee-spectrum-rating-2017/#ampshare=https://tproger.ru/news/ieee-spectrum-rating-2017/

[2017-07-24 19:41] Dexaran commented on #4
The development and adaptation of decentralized pool will start at 1st August, 2017.

[2017-07-25 06:54] Dexaran commented on #1
Here is a small guide about voting and using DEX tokens:
https://github.com/Dexaran/ICO/blob/master/HowTo/Readme.md

[2017-07-25 13:31] Dexaran opened #24 "Revenue distribution process during the pre-definition period."
#### The following describes the process of revenue distribution for **all for-profit projects of the Ethereum Commonwealth**.

Pre-definition period is the period of time before 1st September, 2018. The final version of smart-contract based voting and smart-contract based revenue distribution will be established at 1st September, 2018. It may require DEX token contract upgrade!

## Revenue distri

[2017-07-27 19:52] Dexaran commented on #21
We will set up a server for the Viper-compiler and a UI for this server. The code will actually be compiled on the server, and the bytecode will be returned to the UI.

I think this will be an effective solution for the initial stage.

[2017-07-27 21:35] yograterol commented on #21
@Dexaran Yes, We will do it as MVP. After we could add more features.

[2017-07-29 09:26] Dexaran commented on #1
Trial voting session №1 results computed at block [4181873](https://gastracker.io/block/4181873).

### Smartpool for Ethereum CLassic (95.45 %)
651 DEX

### Solidity coding standard (4.39 %)
30 DEX

### PR and community activity. (0.14 %)
1 DEX

### Finalize current development state first. (ECNS, DexNS, ERC223)
0 DEX

### Hire developers for MetaMask port.
0 DEX

### zk-SNARKs
0 DEX

### GETH com

[2017-07-29 09:36] Dexaran commented on #1
NOTE: You can now withdraw tokens from voting contracts. Voting results are already computed.

**Do not send tokens to this voting contracts again!**

The remaining tokens will automatically be refunded on August 5, 2017.

[2017-08-01 17:20] Dexaran commented on #23
Completed.

https://github.com/inzhoop-co/LETH/commit/2d38827c01b38ac5d394d2c626b0dffb4147f935

[2017-08-03 18:42] Dexaran opened #25 "Trial voting №2: Extend ICO"
The ICO did not collected even a half of planned funding. As the result of this I'm proposing to extend the ICO by 1 month (until 8th September, 2017). You can vote for or against it. You should send your DEX tokens to one of those contracts that is corresponding to your position:

YES: 0x2a0f718a8977dbfab1e20fd5bf862854ae3ce427

NO: 0x572c4d25a1631f7865aad3274880ba64be141f0e

NOTE: This voting wi

[2017-08-03 18:42] #1 closed

[2017-08-07 15:47] Dexaran commented on #25
Trial voting session №2 results computed at block [4237767](https://gastracker.io/block/4237767).

### YES (100%)

527 DEX

### NO (0%)

0 DEX

[2017-08-08 06:59] Dexaran commented on #25
DEX tokens could be withdrawn from voting contracts.
Remaining DEX tokens would be auto-refunded at 10th August, 2017.

[2017-08-10 17:12] Dexaran commented on #25
All DEX tokens were refunded.
Any questions/feedback: dexaran@ethereumclassic.org

[2017-08-10 17:12] #25 closed

[2017-08-11 13:57] #22 closed

[2017-08-14 18:27] #2 closed

[2017-08-15 05:09] Dexaran opened #26 "ClassicEtherWallet updates and MEW patches"
- [x] 1. Merge 3.10.2 MEW updates into ClassicEtherWallet
- [x] 2. Make ETC node a default one on CEW
- [x] 3. Color patch for MEW and CEW
- [x] 4. Replace "MyEtherWallet" mentions by "ClassicEtherWallet" info on ClassicEtherWallet
- [x] 5. Add default contracts and tokens
- [x] 6. Crosschain ENS lookup ([link](https://github.com/EthereumCommonwealth/Roadmap/issues/26#issuecomment-324541572))
- [x

[2017-08-16 09:30] Dexaran commented on #26
Detailed description of required changes:

## 1. Merge 3.10.2 MEW updates into ClassicEtherWallet

I think that it is needed to update CEW to support all recent MyEtherWallet upgrades. The most important things are:

 - MetaMask support. This will also be useful to have since we will create ClassicMask and it will require the same functionality.

 - UBQ / Expanse / RSK / Musicoin nodes support add

[2017-08-18 05:21] randytorres commented on #26
@Dexaran I forked a fresh version of MEW and made some changes to the home page replacing some of the MEW references with CEW. I also made ETC node on default which would complete task #2.
https://github.com/randytorres/etherwallet/commit/aa1a5a6ae040fc02240c9f7781aefd5261e71e29

I should be able to complete tasks 1-4 over the weekend.

[2017-08-18 13:45] Dexaran commented on #26
I will also ask to place the ETC node at the top of the node list in CEW. (ETH nodes are at the top at the moment)

We will also need to change the name lookup with modular ENS support patch. We need to create a customisable lookup to add DexNS support in future. I will provide more updates about this soon.

[2017-08-21 05:05] randytorres commented on #26
@Dexaran I removed a lot of references to MEW and added the dynamic colors. As far as removing mentions of MEW, should I remove ALL mentions including and links to their github, help channels/rooms, donation addresses, etc?

https://github.com/randytorres/etherwallet/commit/dde63548c4f9063ce733237a9442179762876cdb

[2017-08-21 06:09] Dexaran commented on #26
@randytorres Let's leave links to github, help channels/rooms, as is for now. Let's replace the donation address with Ethereum Commonwealth address: `0x52823e725a34d42e14a1b66fb67299c30c4d8edf`

I'd like to mention some issues with [your current implementation](https://github.com/randytorres/etherwallet/tree/add-color-and-replace-mew).

1. Yellow color theme is a native color theme of Musicoin. Le

[2017-08-21 21:37] randytorres commented on #26
Aright I made the changes you requested. I tried creating a CEW favicon based off the logo but It doesn't look very good, do you have a favicon.ico of the logo by any chance?

[2017-08-23 06:39] Dexaran opened #27 "The policy of financial transparency."
Ethereum Commonwealth adheres to a policy of full financial transparency.

We keep a complete financial history in an open document so that everyone can see it. Each financial operation will be reflected there. Each financial operation will be verifiable via transaction hash.

The document will be updated once a week.

https://docs.google.com/spreadsheets/d/1-ibJXI9IfrkKloLgN6RHxoXeCbdqa9mti1afTcO

[2017-08-23 10:32] Dexaran opened #28 "Crosschain ENS lookup."
# Abstract

Ethereum addresses are exactly the same on all Ethereum-based chains, such are ETH, ETC, UBIQ, EXP, Musicoin, SoilCoin (not sure about RSK, didn't investigated yet).

This means that you can use one account (read: private key) for all chains. As the owner of `0x488c9e2df11ac9d19eb07df362cb174ffd4724d8`, I also own an account with the same address on any of the above chains and can disp

[2017-08-23 10:56] iquidus commented on #28
Ubiq (UBQ) will use .ubq

[2017-08-23 12:58] chrisfranko commented on #28
.exp is fine for us also.

[2017-08-24 02:43] yograterol commented on #8
ClassicMask is launched https://github.com/Dexaran/ClassicMask/tree/dist 🚀

[2017-08-24 02:59] Dexaran commented on #8
The next step will be to add extensions to [chrome web store](https://chrome.google.com/webstore/category/extensions?hl=en-US), [mozilla add-ons](https://addons.mozilla.org/en-US/firefox/) and so on.

[2017-08-24 03:46] randytorres commented on #26
Hey @Dexaran I just finished adding ENS support and included it in the PR.
https://github.com/Dexaran/etherwallet/pull/3/commits/862eec31085d1be3158d24bb2380d4e71439488c

[2017-08-24 06:02] Dexaran commented on #26
Let's start crosschain ENS lookup:

1. Add the lookup dropdown button. It should contain `ENS (.eth)` and `ECNS (.etc)` now. We will add UBQ and EXP as soon as ENS will be deployed on this chains.

2. I think that we need to initialize a second instance of web3 to perform a lookup on the corresponding chain. If the user has unlocked account under ETC chain but he wishes to send 1 ETC to the `dexar

[2017-08-24 06:28] Dexaran commented on #28
We have decided that it will be better to implement manual lookup source selection as @realcodywburns suggested.

https://github.com/Dexaran/ICO/issues/26#issuecomment-324541572

[2017-08-24 16:06] alexvandesande commented on #28
Interesting proposal. ENS is a very flexible architecture, meaning that the whole auctioning off system is a part of the .eth registrar, but other contracts could have different ways to approach it. We have avoided adding any other TLD other than .eth but this is the first time I seen that could make sense.

Is your proposal that one chain would be the "definitive authority" on ens? Or are you sim

[2017-08-24 17:06] Dexaran commented on #28
@alexvandesande

ETH chain has an original ENS.
I have modified it a bit and deployed ECNS contracts on ETC chain earlier.
ECNS has a couple of differences:
1. ECNS [doesn't burn funds](https://github.com/Dexaran/ECNS/blob/master/HashRegistrar.sol#L49) unlike ENS.
2. ECNS Registrar contract contains `constant returns` function that [implements namehash algorithm](https://github.com/Dexaran/ECNS/bl

[2017-08-24 17:09] Dexaran commented on #28
I suggest a TLD for .et` / `.etc` /` .ubq` / `.exp` to make it clear which chain ENS is used. I think that we can extend it later if it will be necessary.

[2017-08-24 18:09] realcodywburns commented on #28
I am not sure if any of the desktop wallets are cacheing ens names, but it could be helpful in the long term.  The most accurate way (DNS like) would be to create a decentralized root name server. For our purposes, a json file that lists the ens/ecns/whatever's public api point & resolver contract address that is publicly accessible. Any system could then query the root to find where all `.etc` ad

[2017-08-24 19:08] realcodywburns commented on #28
Thinking deeper into it , the tld should resolve into the corresponding eip155 chain id as specified in https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md such that `dontpanic.etc.` would resolve to `0xfff......321.61`

[2017-08-26 09:20] Dexaran commented on #26
Replace unlocking wallet "MetaMask / Mist" menu item by "MetaMask or ClassicMask / Mist" since ClassicMask is supported as well.

[2017-08-29 06:42] Dexaran commented on #21
The first version of Viper compiler is already operational:
https://codepen.io/yograterol/full/aypYjP/

Further updates are coming soon.

[2017-09-07 13:46] sgitt-vassky opened #29 "Cold staking DEX token."
I've seen that you are closing your ico. The supply of dex token is incredibly low. May be we need to introduce proof of stake coin supply growth? It looks to be possible with erc223.

It would be the first proof of stake erc223 token on ethereum.

[2017-09-07 17:35] Dexaran commented on #29
I am sure that it is possible to realize an increase in the balance in proportion to the current balance of the address and passed time.

We are going to update the ERC223 token standard default implementation therefore it may be a good idea to update DEX token contracts as well.

Anyways, I think that we need to launch a vote to decide whether it is needed or not to implement a cold staking suppl

[2017-09-09 20:06] sgitt-vassky opened #30 "ECNS Deeds with end-time estimation."
The main ECNS revenue is now a 0,5% comission from cancelled deeds. Note that the main amount of spent money is still burned. I mean sealed bids that were not unsealed during the reveal period.
It is technically possible to allow deeds to be cancelled after the auction will be closed. There is no need to keep deeds for more than 7 days (each auction will last for 4 days max).
We can collect the mo

[2017-09-11 07:56] Dexaran commented on #29
@sgitt-vassky if you have any proposals then you can always initiate the voting for it.
Here is a description of the voting process: https://github.com/Dexaran/ICO/issues/1

You can deploy contracts yourself and announce it. If the voting would be ended and the decision will be made to implement it then I will do it without any problems.

[2017-09-11 08:27] #16 closed

[2017-09-16 19:40] Dexaran commented on #5
https://github.com/EthereumCommonwealth/Roadmap/issues/26

[2017-09-16 21:28] Dexaran commented on #26
# Support adding custom tokens by DexNS token names

# 1.

 We should add the third menu item to add custom tokens on CLassicEtherWallet as follows:

![token_by_name](https://user-images.githubusercontent.com/26142412/30515750-95535f4a-9b3e-11e7-8ae1-9dab66dd3183.png)

# 2.

If the user has clicked the new `"Add custom token by token name (DexNS)"` menu item then we should connect to ETC network (

[2017-09-16 21:38] Dexaran commented on #26
# Multi-currency balance display.

Let CLassicEtherWallet display user balances on different chains: ETH / ETC / EXP / UBQ.

We should perform four calls to access user's balances on different chains when unlocking account/ displaying balances.

We should display the corresponding balance as "active". For example if the user is currently on ETC network then we should display ETC balance with big d

[2017-09-17 02:47] yograterol commented on #26
![token-cew](https://user-images.githubusercontent.com/3322886/30517515-c7d2f78a-9b27-11e7-8e13-e68646551496.gif)

https://github.com/EthereumCommonwealth/etherwallet/pull/6

[2017-09-18 05:02] Dexaran commented on #26
Fix the problem of an accidentally transaction sending to the contract in the wrong chain.

GNT contract: https://etherscan.io/token/Golem?a=0xa74476443119a942de498590fe1f2454d7d4ac0d
It is deployed on ETH chain

GNT contract address on ETC chain (no contract): http://gastracker.io/addr/0xa74476443119a942de498590fe1f2454d7d4ac0d

This is the same address on ETC chain and it contains 5000 ETC ($60,

[2017-09-18 17:30] yaronvel commented on #26
Maybe before issuing the warning check that there is a contract on same address in ETH?

[2017-09-19 07:08] Dexaran commented on #26
The desired contract may be deployed on any of the alternative chains (not only ETH). Checking all of the existent chains doesn't seem to be a good idea.
Furthermore, if the user has mistyped the address of the ETC contract this will save him as well.

[2017-09-19 07:12] yaronvel commented on #26
Btw, doesnt the wallet calculate gas limit automatically for users?

[2017-09-19 07:16] Dexaran commented on #26
I would say that MEW is calculating gas limit automatically but the user has an opportunity to change it at will.

[2017-09-21 20:14] sgitt-vassky opened #31 "New blockchain explorer."
Gastracker sucks. It is always lagging. It is displaying -2714 confirmations of 12. It doesn't display token transfers. It doesn't display comments and address reputation. It doesn't provide any advanced functionality. It doesn't support testnets.
If you want to unite the whole Ethereum-core project's infrastructure with common services then it's your chance. Common wallet will be CEW. Common exte

[2017-09-29 17:20] sgitt-vassky opened #32 "Voting for update the ECNS registrar. Allow to extract funds from the stale Deeds."
### Yes, let's update it.

To vote for this item, send DEX tokens to this contract: 0x56696968c23cce54dfea7349c7d5c96e41f38e77

### No, leave it as is.

To vote for this item, send DEX tokens to this contract: 0xe2ddee6187d6e231ae540bd7eac2dbd83a7448d9

p.s. compiled with solc 0.4.17 + optimization.
bytecode keccak-256 hash `0x83a3636f93df74b400cf70ffe4f01835189b8c42df729068fe8695aab044eca9`

[2017-09-29 17:21] sgitt-vassky commented on #30
let's vote it https://github.com/EthereumCommonwealth/Roadmap/issues/32

[2017-09-30 10:11] Dexaran commented on #32
Confirmed.

Voting results would be calculated at 10/15/2017

[2017-09-30 10:22] Dexaran commented on #32
Original proposal: https://github.com/EthereumCommonwealth/Roadmap/issues/30#issue-256462604

### Proposal implementation summary

1. Apply changes to `Deed` contract of the ECNS.

2. Apply changes to `HashRegistrar` contract of the ECNS to allow it to deploy new Deeds.

3. Re-deploy ECNS HashRegistrar.

These changes will allow Deeds to "expire". The validity of each Deed expires 7 days after the

[2017-10-15 17:42] yograterol commented on #31
i agree with you, maybe a better explorer for ETC and Callisto would work, no? cc @Dexaran

[2017-10-15 17:42] yograterol commented on #8
https://addons.mozilla.org/en-US/firefox/addon/classicmask-beta/?src=search

[2017-10-15 19:10] hanzi13 commented on #32
As I see there were not too many voting attempts.

Previously there was talking about cold staking of DEX tokens.
How about somehow merging these two functions, that only the tokens that have been used for voting would receive staking rewards. This could incentivize voting.
I don't know whether it's even possible to do or not, it's just a vague idea.

[2017-10-15 22:54] yograterol commented on #26
DexNS support to add custom tokens

https://github.com/EthereumCommonwealth/etherwallet/pull/10

![dexns](https://user-images.githubusercontent.com/3322886/31590122-dabe8e30-b1d0-11e7-9014-80260afedafe.gif)

[2017-10-15 23:00] yograterol commented on #7
If you want, I launch a ETC Node -> https://rpcgeth.viperid.online/

[2017-10-16 10:57] Dexaran commented on #32
@hanzi13

Staking model for DEX token is an interesting idea. At the other hand, it doesn't introduce any really valuable updates because it will not affect the proportion of tokens distribution.

As for your proposal, this will incentivise token holders to vote. Active voters will be allowed to stake and increase their share of token supply. Passive token holders will not stake and their share of

[2017-10-16 17:27] Dexaran commented on #32
Voting results computed at block 4660000.

## YES ( 100% )

848 DEX

## NO ( 0% )

0 DEX

The proposal considered accepted. The Hash Registrar will be updated and re-deployed as soon as the new version will be developed and tested.

[2017-10-16 18:25] elaineo commented on #31
@yograterol were you still interested in proposing a new architecture for the existing explorer? if not i will close the issue https://github.com/ethereumproject/explorer/issues/57

[2017-10-18 15:33] #32 closed

[2017-10-21 13:07] Dexaran commented on #7
Yeah, it seems that there are plenty of free ETC open nodes and anyone can use them as API endpoints. I think that it's not the most necessary thing right now.

Perhaps, when the ETC becomes more popular, we will need a service to run API endpoints.

[2017-10-22 06:47] Dexaran commented on #26
I suppose that we need to make some changes to avoid user confusion:

1. Add "Loading..." text or loading animation that will appear to show the user that searching is currently in progress. This should disappear when the response will be retreived.

2. Start searching (send async requests) 2 seconds after user has typed any character. Token symbols are not limited to 3-characters. For example AE

[2017-10-22 09:02] Dexaran commented on #31
I agree. Blockchain explorer is an essential part of each blockchain-project ecosystem.

Gastracker solves this problem for ETC for long time, but there are some problems with it:

1. **Lack of debugging information.** Etherscan represents transaction/ call info in more convenient form.

2. **Testnet support.** ETC will need it's own testnet. ETH has 3 testnets and they are supported by Etherscan

[2017-10-23 20:00] yograterol commented on #26
@Dexaran I agree, I'll do it

[2017-10-24 08:04] Dexaran commented on #26
It would be nice to allow adjusting gas price in 0.1 GWEI instead of 1 GWEI to ClassicMask and CEW. MEW recently did it: https://github.com/kvhnuke/etherwallet/releases/tag/v3.10.5

Not a critical issue, but nice to have.

[2017-10-24 08:12] Dexaran commented on #26
![cew_rineth](https://user-images.githubusercontent.com/26142412/31931477-4164d40c-b89b-11e7-9090-abb3ee9024e4.png)

CEW displays RinkebyETH and ETH as the same amounts of currencies while they are different separate currencies.

[2017-10-31 12:34] #20 closed

[2017-10-31 12:36] Dexaran commented on #9
Revised in favor of [Viper development](https://github.com/EthereumCommonwealth/Roadmap/issues/21).

[2017-10-31 12:36] #9 closed

[2017-11-06 09:15] Dexaran commented on #26
Update:

[x] Crosschain DexNS lookup for custom tokens - finished.
[x] Crosschain DexNS lookup for Names and sending transactions - finished.
[x] "Not a valid ERC-20 token" error of custom token when not on token network - fixed.
[x] Warning about an attempt to execute a token contract on alternative chain - finished.
[ ] TODO: testnet Ether is considered ETH currency and displayed as ETH balance.

[2017-11-06 18:15] yograterol commented on #26
https://github.com/EthereumCommonwealth/Roadmap/issues/26#issuecomment-338910299 It's not a problem anymore

[2017-11-20 10:42] Dexaran commented on #26
CEW bugs that needs to be fixed:

1. "Add custom token by token Symbol" starts to search token when you type 3 characters. If you type 4-characters of token symbol then CEW throws error because of the first three symbols are not found even if 4-characters symbol string represents a valid token name.

2. S-ETH symbol is successfully found but could not be added to token list. I suppose that it's be

[2017-11-20 13:28] RorschachRev commented on #31
I will make one soonish. This overlaps with 2 other projects I wanted to do, so making html output isn't that much extra work. Supporting ECNS/DexNS and tokens is probably the only "extra" work but I'll at least make a core.
The system I make will support API query via rest+jsonrpc for wallet whitelisting of addresses. (e.g. HTML view or jsonrpc view, depending on URL)

[2017-11-25 20:45] yograterol commented on #26
https://github.com/EthereumCommonwealth/Roadmap/issues/26#issuecomment-345657999 Fixed

[2017-11-27 20:42] Dexaran opened #33 "DexNS bug bounty launched."
# Scope

1. [DexNS Frontend contract](https://github.com/EthereumCommonwealth/DexNS/blob/687ca9359f06fcadc604bb7ecc1622076a815657/DexNS_Frontend.sol).

2. [DexNS Storage contract](https://github.com/EthereumCommonwealth/DexNS/blob/687ca9359f06fcadc604bb7ecc1622076a815657/DexNS_Storage.sol).

# Contract overview

This contract system is an implementation of Ethereum-based naming service.

DexNS Nam

[2017-11-27 20:51] Dexaran commented on #33
Contracts on Rinkeby testnet:

[DexNS Frontend](https://rinkeby.etherscan.io/address/0x506bcdfe96481b108012f5c2ed9e8ab19dc61624);

[DexNS Storage](https://rinkeby.etherscan.io/address/0xC2751b7bCf14815ca97C8Bf19c60cb0AD6EBA27c)

[2017-11-27 20:55] Dexaran commented on #33
# Timeframes

Bugbounty is relevant from November 27, 2017 to December 10, 2017.

[2017-11-28 15:31] Dexaran commented on #26
Merged https://github.com/EthereumCommonwealth/etherwallet/pull/14

[2017-11-29 14:36] Dexaran commented on #26
BUG: CEW automatically evaluates gaslimit to -1 when trying to deploy contract. If I set the gaslimit to 4700000 then contract is successfully deployed.

[2017-12-06 15:11] Dexaran opened #34 "Port of network Gas evaluation service (ethgasstation.info)"
https://ethgasstation.info/index.php

[2017-12-11 10:19] Dexaran commented on #33
DexNS bug bounty is now closed.

[2017-12-11 10:19] #33 closed

[2017-12-18 13:55] Dexaran opened #35 "Terms of openness for contributions."
# Ethereum Commonwealth

Ethereum Commonwealth is open for contributions, [completely financially transparent](https://github.com/EthereumCommonwealth/Roadmap/issues/27) development team with a [decentralized DEX token voting](https://github.com/EthereumCommonwealth/Roadmap/issues/1) decision making process. Anyone and everyone is allowed to define a new `milestone` proposal for the Ethereum Commo

[2017-12-18 17:01] Dexaran opened #36 "Ethereum messaging system protocol."
The following is a proposal to define a protocol to solve a problem of a complete lack of possibility to communicate with an owner of a certain address on Ethereum CLassic, Ethereum, UBQ, Expanse or PIRL networks.

EIP 802: https://github.com/ethereum/EIPs/issues/802

ECIP 85: https://github.com/ethereumproject/ECIPs/issues/85

[2017-12-20 21:44] Dexaran opened #37 "DexNS final launch."
DexNS, the first crosschain decentralized naming service for human-readable address resolutions and token-related services scalability improvement tool, has successfully passed the bug bounty and final changes were applied.

[DexNS bug bounty reference](https://github.com/EthereumCommonwealth/Roadmap/issues/33).

[DexNS final version reference](https://github.com/EthereumCommonwealth/DexNS).

DexN

[2017-12-21 11:09] clshack commented on #37
I am following 💃

[2017-12-21 11:12] dalmat89 commented on #37
let's go!

[2017-12-21 20:51] Dexaran opened #38 "Ethereum Classic messagins system."
# Announcement

Ethereum Classic address-to-address messaging system release. Messaging system represents a smart-contract basic on-chain communication service wich allows to contact any other participant of the network absolutely securely.

The Messaging System allows crosschain interoperability, which means that you can send message from ETC chain to the owner of ETH, UBQ, EXP, Musicoin, RootSto

[2017-12-25 13:27] Dexaran commented on #37
Launched: https://www.reddit.com/r/EthereumClassic/comments/7m1cj9/ethereum_commonwealth_announces_dexns_is_finally/

[2017-12-25 19:01] Lyxur commented on #36
Awesome idea. Lets ICO it.

[2017-12-25 19:09] Dexaran commented on #36
@Lyxur how will we ICO a **free** messaging system? And for what purpose?

[2017-12-25 19:32] Lyxur commented on #36
Add a rating system. Karma or something like this. Increase rating of the message if sender has tokens on balance. Scarcity and utility of this token will make a good purpose for ICO.

[2017-12-25 19:45] Dexaran commented on #36
@Lyxur I think that ICO is not really necessary here and rating system will not be that useful. It's not a messenger or a chat room. It's an emergency opportunity to contact an owner of a certain address without knowing who he is.

[2017-12-25 23:19] Lyxur commented on #36
It will not hurt the initial functionality of the system. Even more, it will be a token with a real use case unlike many others. If someone does not want to use tokens and rating, then he will not use it. It may be optional.

[2017-12-25 23:31] Dexaran commented on #36
I see you are really hell bent in ICOing the message service. Well, let's resolve it with a DEX token voting.

[2017-12-26 06:49] Lyxur commented on #36
Do I need to create a new issue here?

[2017-12-27 04:29] hyvmind opened #39 "MAJOR DROP in gas cost, who will lead Ethereum Classic into the new blockchain?"
As more and more updates to ETH (Ethereum) come out and additional capabilities in the blockchain are developed, who will maintain the code of the ETC chain? Will ETC move to a Proof of Stake model as well?

[2017-12-27 09:20] Dexaran commented on #39
There are three ETC development teams. [ETCDEV](https://www.etcdevteam.com/), [IOHK](https://iohk.io/) and [Ethereum Commonwealth](https://github.com/EthereumCommonwealth).

The ETC protocol is an abstract set of rules that determine the capabilities of this blockchain. The client implements this set of rules. To be honest, this doesn't matter what exactly language did you used to implement it. Th

[2017-12-27 09:21] Dexaran commented on #36
No need to create it right now. I think that we must resolve this first: https://github.com/ethereum/EIPs/issues/802#issuecomment-353898633

[2017-12-30 16:29] Dexaran opened #40 "ClassicEtherWallet required updates list. 3.11.1 release."
### Bug fixes

- [ ] UBQ network: can not generate transaction. `TypeError: hex.substring is not a function at Function.ethFuncs.sanitizeHex`. Works correctly in any other network.

- [ ] Gas autoevaluation bug: replaces gas twice when clicking "Generate Transaction" if the input amount is different from the autoevaluated gas limit.

- [x] Adjust ECNS tx `gasLimit` to 570000. ([Working TX (570k ga

[2017-12-30 16:29] Dexaran opened #41 "Blockchain explorer development."
## Requirements

The blockchain explorer is intended to:

- [ ] Display blocks, transactions, state of addresses and provide the rest of default blockchain functionality.

- [ ] Ensure the easy addition of new networks compatible with the ETC. It is planned to support ETC, ETH, UBQ, EXP, PIRL, Rinkeby (testnet), Kovan (testnet), Morden (testnet), Ropsten (testnet), Callisto-test (testnet), Callist

[2017-12-30 16:30] Dexaran commented on #36
Deployed on ETC chain: https://www.reddit.com/r/EthereumClassic/comments/7n2a83/addresstoaddress_message_system_based_on/

[2017-12-30 16:33] Dexaran commented on #26
Point 9 resolved with the latest update.

[2017-12-30 16:40] Dexaran commented on #31
https://github.com/EthereumCommonwealth/Roadmap/issues/41

[2017-12-30 16:40] #31 closed

[2017-12-30 16:41] #37 closed

[2017-12-30 16:42] #30 closed

[2017-12-30 16:42] #23 closed

[2017-12-30 16:42] #8 closed

[2017-12-30 16:42] #5 closed

[2017-12-30 16:44] Dexaran commented on #4
Delayed due to the high cost of maintenance of the contract and a requirement to upload huge amounts of data to the blockchain.

[2017-12-30 16:44] #4 closed

[2017-12-30 16:44] #3 closed

[2017-12-30 19:23] Dexaran commented on #6
Delegated to @RorschachRev

[2018-01-09 03:32] yograterol commented on #41
The roadmap for the MVP is there https://github.com/EthereumCommonwealth/Galileo/projects/1

[2018-01-11 14:52] #39 closed

[2018-01-11 19:10] Dexaran commented on #40
GasPrice manual adjustment does not work. The slider is working correctly but manual adjustment always throws the 30 GWei price. Also, the `gasPrice` is set to 50,1 GWei when you switch to ETC network or any normal network from CLO-Testnet. It is necessary to set the price to default 20 GWei, not the maximum 50 GWei.

[2018-01-14 20:45] Dexaran opened #42 "Callisto network."
### This thread preserves the history of Callisto Network launch, initial roadmap and project goals as well as provide information on its current development stage.

## Links

[Smart-contract auditing department of CLO & ETC (source code)](https://github.com/Dexaran/Security-DAO)

[Treasury financial report](https://docs.google.com/spreadsheets/d/12b5JgL1veCAvV1yLhmxDva80Gz3pA0OVSPw_uTf9aEQ/edit?u

[2018-01-14 21:14] SL50 commented on #42
@Dexaran do you have any professional security auditors in your team currently?

[2018-01-14 21:56] Dexaran commented on #42
Personally I was a security auditor of smart contracts before I founded Ethereum Commonwealth.

The main problem of Ethereum is smart-contract hacking. Look at [TheDAO attack](https://www.coindesk.com/understanding-dao-hack-journalists/), [Parity multisig hack](https://medium.com/chain-cloud-company-blog/parity-multisig-hack-again-b46771eaa838), [Critical insecurity of ERC20 token standard](https:

[2018-01-14 22:10] Dexaran commented on #42
## Official Smart-contract Auditing Department

I would like to establish a standard procedure of secure smart-contract development at ETC & CLO ecosystem. This standard procedure will necessarily include the audit of smart-contracts. Unfortunately, auditing can be quite expensive and some developers neglect it before launching their smart contracts.

Utilizing capabilities of Callisto network, we

[2018-01-18 06:50] Dexaran opened #43 "ClassicEtherWallet maintenance schedule."
The following describes the main goals that are planned to be achieved to improve ClassicEtherWallet, the main web wallet of Ethereum Classic.

### Scheduled improvements.

- [ ] ClassicEtherWallet release 3.11.1 fixes: #44
- [ ] ClassicMask & ClassicEtherWallet integration improvement: contract deployment support, transaction customization support for CLM, testnet support for CLM.
- [ ] Unite Eth

[2018-01-18 12:16] SL50 commented on #43
@Dexaran I'm not sure that the pricing you have mentioned will be enough. The work for which you are going to hire a programmer involves a lot of researching. You should also include a knowledge of specifics of web3.js and smart-contract UI building (which is rare skill set). In combination with a deep knowledge of the structure of the etherwallet, this narrows the circle of specialists who meet y

[2018-01-19 06:22] Dexaran commented on #43
@SL50 Researching new technologies is a pretty common task for programmers. I will extend the budget estimation if it will be considered that it is not enough to solve described tasks.

[2018-01-19 18:56] kinbitz opened #44 "Security enchancement proposal"
I am wondering if it is possible to implement smart contract that allows to set withdraw limits on per day, week, month basis as addition security? Then the address owner can set the desired limits interacting with the smart contract.
Another use case can be repeated payments (for example each month) or payment on a certain date, like in the traditional banking.

[2018-01-20 04:59] Dexaran commented on #44
I would say yes. It is possible.

[2018-01-22 09:29] kinbitz opened #45 "Security Audit of addresses and smart contracts"
Hello,

I found one project that proposes security enhancement to ethereum network, but I think Ethereum Classic can also benefit from this idea.
https://www.etherblue.org/whitepaper

[2018-01-22 20:57] #44 closed

[2018-01-28 13:44] 88Maxwell commented on #42
Did i get Calisto, if my ETC at Bittrex or at other Exchange ?

[2018-01-29 13:39] Fliego commented on #38
Any updates?

[2018-01-29 15:10] Dexaran commented on #38
Smart-contract message system is successfully deployed.

Messaging smart-contract address: [0x076FbFC62503B59c3828D4E2BFF195a249cd055c](https://gastracker.io/contract/0x076FbFC62503B59c3828D4E2BFF195a249cd055c)

Smart-contract ABI:

[code]

[2018-01-31 00:06] rados-io commented on #38
Congratulations!

[2018-01-31 00:10] rados-io commented on #42
CLO will get credited to the holders of ETC. If your crypto is on the exchange, you do not hold any. You currently have 0 ETC. Bittrex and other exchanges **own** your ETC and they promise that when you ask them they will give it back to you.

So in short, you should ask the owners of your ETC (your exchanges) if they will give CLO to you as well.

[2018-02-05 17:31] Is7ak commented on #42
how about web site?

[2018-02-07 14:22] Dexaran commented on #42
@Is7ak We will create a landing page for Callisto before the launch. It is currently in progress.

[2018-02-09 07:41] Is7ak commented on #42
good luck .... thanks

[2018-02-09 09:21] Zdrob commented on #42
Ledger nano S is supporting this airdrop of ETC ?

[2018-02-09 14:39] hamzake commented on #42
Will I have CLO if I have ETC on Binance ?

[2018-02-09 15:07] Dexaran commented on #42
@Zdrob yes.

@hamzake It depends on Binance. I will recommend that you move your funds to MyEtherWallet or ClassicEtherWallet. You can also ask Binance directly because it depends on their team.

[2018-02-09 15:41] hamzake commented on #42
@Dexaran Thanks for the quick answer. Sending ETC to MyEtherWallet public key (which is the same address I used to receive ETH) is ok ? I am quit confused that the keys are the same for "different" tokens.

[2018-02-09 15:47] Dexaran commented on #42
@hamzake

Yes it is ok.

Technically ETC and ETH were the same chain. As the result, your account is valid on both chains (but it can have different balances on different chains technically). You can also use your ETH account on UBQ, EXP and Musicoin chains as well.

I wrote a [user education article](https://www.reddit.com/r/ethereum/comments/7ctsl6/some_user_education_about_ethereum_addresses/)

[2018-02-09 15:56] hamzake commented on #42
@Dexaran Thanks again !! So I can securely choose ETC(Epool.io) and send it to my ETH address ?

[2018-02-09 16:07] Dexaran commented on #42
@hamzake
Yes.

[2018-02-09 17:13] Zdrob commented on #42
What about Ledger ? can we keep  etc on Ledger during airdrop ?

[2018-02-09 17:30] Dexaran commented on #42
@Zdrob

Yes.

[2018-02-10 13:52] Alexakoz commented on #42
When will fork be?

[2018-02-10 23:44] SGlobal commented on #42
Can I send my ETC from (exchange) to MEW or CEW?

[2018-02-12 00:54] myXcoin commented on #42
Does it mean if I buy ETC now (before March 5th) I would get CLO airdrop? BUT I must put those ETCs into one of the wallet mentioned in this [link](https://www.reddit.com/r/EthereumClassic/comments/7qs9ui/callisto_network_announcement/), is it correct?
That means even though if I hold the ETC but still in exchange then I might not get any airdrop unless they will share it.

[2018-02-12 17:47] Dexaran opened #46 "ETC multisig wallet bug bounty."
# Scope

1. [MultisigWallet.sol](https://github.com/EthereumCommonwealth/ethereum-classic-multisig/blob/34f1b074d510a1e7d4fbeb0acf3708be02697cc8/contracts/MultisigWallet.sol)

2. [DayLimit.sol](https://github.com/EthereumCommonwealth/ethereum-classic-multisig/blob/34f1b074d510a1e7d4fbeb0acf3708be02697cc8/contracts/DayLimit.sol)

3. [Multisig.sol](https://github.com/EthereumCommonwealth/ethereum-cl

[2018-02-12 18:36] cseberino commented on #46
Dexaran: Thanks for all you do!  Keep up the good work!

[2018-02-13 02:33] bradgriffin commented on #42
Can you clarify how the treasury fee will work during the initial launch stage? Are you taking the 30% up front based on the total supply expected to be in circulation at 11/11 hardfork date? or are you allocating in some other manner?

[2018-02-13 17:10] sotirisapost commented on #42
in which wallets we can claim callisto, and we have the opportunity to get the free coins?will you b4  march get ready a list with the wallets that support and 100 % give us the free coins? thank you

[2018-02-14 13:32] avatar-lavventura commented on #42
In additon to @myXcoin 's comment, if I store my ETCs on Exodus Wallet (https://www.exodus.io) would I still receive CLO?

[2018-02-14 15:21] bachvtuan commented on #42
For every one hold 1 etc will get 1 CLO but CLO supply is up to 6.5Billion so that just worth about 0.1$ for every CLO ?

[2018-02-15 10:59] ivaf commented on #42
Hello!
Tell me, please, will I be able to mine Callisto? Based on the information available in the WP, I think that yes. After starting the mainnet. Am I right?

[2018-02-16 13:57] Tonio09 commented on #42
Please, could you tell us if there is any exchage whitch is going to have CLO for the 5th of March which sends the CLOs for each ETC we have in it? or have we  to have our ETCs in a wallet to receive the CLOs and this is the only one way to get them?
Thank you.

[2018-02-17 08:38] fetis commented on #42
Hello, I have Emerald Wallet in light mode on epool.io network. Does it support airdrop as well or I need to use recommended ClassicEtherWallet? Thank you.

[2018-02-18 11:27] #40 closed

[2018-02-18 11:37] github1kmit commented on #42
What price in USD will be for 1 CLO?

[2018-02-18 11:47] polozhevets commented on #42
@github1kmit equal for a ETC at the init

[2018-02-18 11:54] github1kmit commented on #42
Price in USD per 1 CLO man

[2018-02-19 16:12] Dexaran commented on #46
I am shutting down the Ethereum Classic multisig smart-contract bug bounty.

### Bug Bounty results.

**3 issues** were reported in total:

1. [Missing documentation of Multisig.sol contract](https://github.com/EthereumCommonwealth/ethereum-classic-multisig/issues/9). (Not a security issue)

2. [A single owner can disrupt a vote for a set of multisig contract operations](https://github.com/Ethereu

[2018-02-19 16:12] #46 closed

[2018-02-19 20:54] Sparke2 commented on #42
Twitter request for $CLO support:

https://twitter.com/ChangeNOW_io/status/965596714374717441

Retweet this to get CLO supported at ChangeNow, the first exchange that supports ADA and many new crypto.

[2018-02-20 08:22] rammex commented on #42
Whether it will be necessary to transfer ETC from a trezor on mew?

[2018-02-20 09:53] sayadigroup commented on #42
Hi guys.

Please be aware that  the blocks moving faster than normal on ETC the airdrop is arround 2 mars and not 5 mars.

I just looked at we're at 5.4 million blocks. It looks like we're going to hit 5.5 million well before the anticipated/estimated target date. Am I off-base with this? I swear when I checked earlier this weekend (US holiday weekend) we were no where near 5.5 mil.

Hash rate is

[2018-02-20 20:41] jeancruzado commented on #42
Will bitrex support the airdrop?

[2018-02-20 20:42] jeancruzado commented on #42
etherwallet support the airdrop?

[2018-02-21 20:28] iliki777 commented on #42
Cool guys! ADA, Callisto.. crosschain - sidechain.. I'm waiting technology, when there will be chain and net superior then VISA, MC... and it will beter to use then SWIFT system. Only this way! all other ways -it,s shitcoin!!

[2018-02-23 15:13] Sniper2008009 commented on #42
I have an LTC wallet with Exodus. Will Callisto support the Exodus Wallet? How do I claim the new tokens if my wallet does indeed get the airdrop. Sorry total newbie here.

[2018-02-24 01:04] useehowuseeit commented on #42
Are any of the exchanges supporting this airdrop....? Bittrex? Binance?

[2018-02-24 16:02] sayadigroup commented on #42
@Dexaran  when callisto page will be available sir ?

You said last time that it will be available before the lunch
@Dexaran  <<< We will create a landing page for Callisto before the launch. It is currently in progress. >>
Its important as we can see what exchanges support the airdrop sir.

[2018-02-25 10:34] Necr0n0m commented on #42
@Dexaran, any news about exchanges, supporting CLO? Few Day's to fork...

[2018-02-25 15:23] esquale commented on #42
I'm Exodus user too, so several days ago I got an answer from Exodus support:

At the moment, doing this in Exodus isn't supported. However, we may come up with a method within Exodus which will grant you your Callisto automatically in the future. Our number one priority is our user safety, and unfortunately supporting every fork and every airdrop makes our customers vulnerable, as well as could l

[2018-02-26 11:05] vovan777555 commented on #42
tell me how to get a calisto on LEDGER NANO S???

[2018-02-26 11:07] vovan777555 commented on #42
if they have me there will lie I will get a colisto ??

[2018-02-26 14:13] omega32 commented on #42
@avatar-lavventura @Sniper2008009  @esquale

In Exodus, you can export the private key associated with your ETC wallet. To do that, you first need to show the hidden developer menu.
In Exodus, press `CTRL+SHIFT+D`. That will show the menu.

Then, you access your private key in: `Exodus > Developer > Assets > ETH Classic > Export Private Keys`
With your private key you can access the tokens yoursel

[2018-02-26 14:39] bornigan commented on #42
How to get a CLO on jaxx if I have ETC there? Thx

[2018-02-26 18:13] esquale commented on #42
@omega32:

Yes, it is, but I think it's too hard for a newbie to do that... It's better for those guys to transfer ETC to another wallet,  still transaction payment is low, by the way

@vovan777555:

please explain what do you mean
@vovan777555:

  LEDGER NANO is the key to your ClassicEtherWallet, so all your coins are on CEW now. The answer is: wait for the CLO airdrop, i.e. do nothing)

[2018-02-26 18:17] chiragbohet commented on #42
This might be redundant but I need to be sure, MyEtherWallet is supporting the Callisto Airdrop right?

[2018-02-26 18:32] esquale commented on #42
@chiragbohet:

technically it is, but there's an option... I didn't find any official comments for CLO support from MEW team. There's an article:  [https://smartoptions.io/claim-callisto-clo-ethereum-classic-hard-fork/](url), hope you'll find it helpful

[2018-02-26 19:18] vovan777555 commented on #42
if I have coins on a cold purse I will get a fork?

[2018-02-26 21:51] sayadigroup commented on #42
@Dexaran can you reply to us sir please ? If there is any issues with CLOP airdrop ? because no announce from any exchanges or thats very strange. There is still 5-6 days until the airdrop sir.

[2018-02-27 13:08] Dexaran commented on #42
1. Callisto is not a fork.

2. Block `5500000` is the date of snapshot. Callisto Network mainnet will **NOT** be launched in 5-6 days. We are planning to establish testnet 2.0 before the final launch. Then you will receive CLO in 1:1 ratio to ETC you held at block 5500000.

3. [ChangeNow](https://changenow.io/) will support CLO. As for other exchanges, they require blockchain explorer, mainnet and

[2018-02-27 13:26] avatar-lavventura commented on #42
As I understand, if we can obtain the private key or Keystore File (UTC / JSON) from the wallet we are using such as Exodus (it provides option to obtain the private key for ETC); we can use it on the ClassicEtherWallet as well and access to the CLO. @Dexaran

[2018-02-27 13:50] Dexaran commented on #42
@avatar-lavventura Yes, it's true.

[2018-02-27 18:35] svenpohl commented on #42
1) Callisto will start a new genesis block. Does this mean, there is automatically no replay-issue possible... like other forks (replay-protection obviously not necessary)? Is this correct?

2) How long will it take to start the Callisto maintain after the snapshot on ETC-block 5500000?

Good work! Thank you!

[2018-02-28 10:03] fichtenweg commented on #42
Any impact on Callisto resulting from ERC20_token_standard_vulnerability?

[2018-02-28 21:31] useehowuseeit commented on #42
@Dexaran Could you inform us on whether exchanges will support this airdrop or not?

[2018-02-28 21:54] Dexaran commented on #42
@fichtenweg

I would say no. ERC20 is just an Ethereum common token standard. It is "how Ethereum Foundation recommend you to write token contracts". Anyways, it is up to token developer to choose the standard for his tokens. Standard does not depend on network/chain/community.

There are newer token standard that are secure: ERC777 and ERC223.

@svenpohl

I would say no. A new genesis block and f

[2018-02-28 22:25] Sparke2 commented on #42
Why exchanges MUST support Callisto not on March 5th but eventually in 2018:
https://www.youtube.com/watch?v=jW7d41FsY34&feature=youtu.be&t=24m45s

[2018-02-28 22:50] Padza commented on #42
@Dexaran Excuse me if my question is stupid ... How will the exchange ChangeNow to support airdrop if it does not have the option to store ETC? How to get Callisto than?

[2018-02-28 22:53] Dexaran commented on #42
@Padza it will not allow to store and receive CLO. It will only allow to trade it at the moment of the mainnet launch. You need to store CLO in your own address.

[2018-02-28 23:06] Padza commented on #42
OK thanks... I thought that via Changenow we would get CLO for the amount of ETC we have but I'm wrong. So the only thing left is to send ETC to ClassicEtherWallet then sell it through Changenow or some other exchage that will support CLO. Right?

[2018-03-01 08:28] clogi commented on #42
Yes, please tell the exchangers to write an official announcement ASAP, it can change the rate of buying ETC and as the final outcome the volume of buying CLO and supporting your project a lot. It always makes such a difference...would be great if you did that with Binance, Bittrex, Bitstamp etc.

[2018-03-01 13:20] Semering commented on #42
@Dexaran Why an important ETC fork like this is not supported on any major exchanges? A lot of investors could become unhappy.

[2018-03-01 14:23] vovan777555 commented on #42
Leger wallet ok? CLO

[2018-03-01 14:25] vovan777555 commented on #42
on Ledger's purse there's an ETC I'll get there when they have me CLO ???

[2018-03-01 14:51] AtanasBabata commented on #42
YoBit is ready for ETC fork! https://twitter.com/YobitExchange/status/969178380376690688

[2018-03-01 16:09] samlangdon commented on #42
I haven't seen any exchanges explicitly saying they will pass on CLO from the airdrop yet, so I think the best bet to get CLO automatically is to hold ETC on the blockchain yourself in either ClassicEtherWallet or MyEtherWallet. Here's some guidance on [how to buy ETC from an exchange and transfer it to a wallet so you can get CLO](https://www.thecryptofacto.com/2018/03/01/claim-clo-callisto-airdr

[2018-03-01 23:32] useehowuseeit commented on #42
@Dexaran Thanks for replying. and yes, it would be great if you notified exchanges to post publicly so that other ETC holders are informed as well. Thanks and looking forward to the future of ETC and CLO.

[2018-03-02 16:13] Sparke2 commented on #42
Exchanges that support Callisto $CLO:

1. Yobit: https://twitter.com/YobitExchange/status/969178380376690688
2. ChangeNow: https://twitter.com/ChangeNOW_io/status/969595592652525569

[2018-03-02 22:29] Dexaran commented on #42
Here is a temporary [Callisto website](https://callisto.network/).

It will serve as a dummy landing page until we replace it with a new one. It contains the most useful links and info about the project. Feel free to ask any questions and suggest any improvements.

[2018-03-03 03:15] ozzz11 commented on #42
is that true? until today? https://twitter.com/BittrexExchange/status/969750776619962368

[2018-03-03 03:23] SL50 commented on #42
@Dexaran Bittrex said they didn't knew about the airdrop and everything going on around them. Why?

[2018-03-03 03:59] Dexaran commented on #42
Thats about Bittrex.

I have warned exchanges about the upcoming event by emails. In case of Bittrex, I've sent the email at 17th January. Some exchanges no longer receive e-mail notifications. Instead, they require to fill a special form.

Bittrex required an "official web page link" to fill the form. As you can see [here](https://github.com/EthereumCommonwealth/Roadmap/issues/42#issuecomment-370

[2018-03-03 04:03] Dexaran commented on #42
We will continue Callisto development and further preparations for CLO Testnet 2.0 launch and balances snapshot. Again, it is not the goal with the highest priority for us to get CLO listed on most exchanges before the snapshot.

[2018-03-03 04:32] useehowuseeit commented on #42
@Dexaran Just out of curiosity - When did you notify other exchanges? (Binance, bitfinex and others that are on the list of CLO web page?)

[2018-03-03 06:37] cuongduong257 commented on #42
Please work with Bittrext again to support $CLO.

[2018-03-03 07:17] misterTblockchain commented on #42
@Dexaran when will miner be able to work on the clo chain, and where can we dl the software?

[2018-03-03 07:27] geekz commented on #42
Can the CLO airdrop be delayed , and give time to all exchanges, so that they can support the airdrop?

[2018-03-03 08:14] cuongduong257 commented on #42
How about Binance exchange? @Dexaran

[2018-03-03 08:52] fewer70 commented on #42
i use the trustwallet,but i don't get any clo,why?

[2018-03-03 12:36] SilverDragon135 commented on #42
@fewer70 There has not been snapshot yet. It should happen on monday, but you have to wait until mainnet launch still to get CLO 😉

[2018-03-03 13:34] 1331bkru commented on #42
I ask any comments   [https://twitter.com/etcdev/status/969657640614875136](url)

[2018-03-03 13:39] JurryG commented on #42
On March 1st 2018 i tried to withdrawal my ETC to my ETC wallet and it is still pending without any confirmation while the network is active at the right block height. Customer Service not responding to the service ticket. I doubt they will send it in time for the snapshot. Any advice on how still to claim my CLO is this is the case? Starts to feel like the exchange is doing it on purpose the keep

[2018-03-03 13:40] 1331bkru commented on #42
I ask any comments      https://twitter.com/etcdev/status/969657640614875136

[2018-03-03 13:46] JurryG commented on #42
Since march 1st my ETC withdrawal from Cryptopia.co.nz is still pending without any confirmation. Network is up and running at the correct block height. Customer Service not responding to the service ticket. Starting to doubt i will receive my ETC on time for the snapshot to claim CLO :( Feels like they doing it on purpose so they can claim it for themself. Any advice on how to still claim my CLO

[2018-03-03 13:48] esquale commented on #42
@1331bkru: what type of comments do you require?) CLO is not a fork? Well, we knew that. ETCDEV has NOT been working about this? It's ok, CLO is quite standalone about that (see above) and have it's own devteam

[2018-03-03 22:34] Dexaran commented on #42
@misterTblockchain

Callisto mining will be the same as mining ETC. [Epool](https://www.epool.io/) will provide a mining pool for Callisto network. You can use any ETH/ETC mining software with CLO.

@geekz

Technically we can delay it but we will not. Exchange can support Callisto and distribute the CLO, regardless of whether the decision was made before the airdrop or after it.

@cuongduong257

B

[2018-03-03 22:49] Dexaran commented on #42
It should be noted that we are far from the mainnet launch now. The main goal of Callisto is NOT to over hype, pump & dump ETC price. We are not going to rush, launch as soon as possible or push CLO to exchanges by the any cost before the airdrop.

We warned most exchanges and they can prepare and announce their position. It does not necessary mean that they need to do this before the airdrop date

[2018-03-03 23:03] Semering commented on #42
@Dexaran It's about increasing the overall value of ETC and the distribution of Callisto, not leaving it on the exchanges, cause a lot of people hold their ETC on exchanges. Nevertheless a lot of people invested in ETC because of Callisto and exchanges should have been the least of your problems. Everyday there is some airdrop from "unknown" coins while ETC is a brand and it's not supported on any

[2018-03-03 23:47] ozzz11 commented on #42
@Dexaran we dont ask about coin listing , binance will support airdrop or not? it s very easy question , if @yograterol  contacted with them earlier , you should know what binance told to @yograterol  , maybe you r great programmist but really not good business man , prepared landing page just 2 hours , but you waited till 2 th march , i dont belive it.

[2018-03-03 23:55] svenpohl commented on #42
If Callisto manages it to put a little effort into the documentation, readability, and testing their code (better than eth / etc) ... I will be happy. The approach of creating an official directory for certified smart contracts should be rewarded. Where are the double-checked contracts at ETH / ETC? Perhaps the "best coin in the world" (ETH, my opinion) can still cut a slice of Callisto ... even i

[2018-03-04 04:03] jackie1587 commented on #42
hi Dexaran，If I hold my ETC in the wallet you have said before the snapshot，and then  after the snapshot ，I transfer my ETC to some Exchange，could I get the CLOs？

[2018-03-04 16:34] aliiqbal1984 commented on #42
@JurryG I hope you would have got your coins transferred. if not then please also check what is the status of your transfer on https://gastracker.io/, if you are seeing it there as unconfirmed than you can find out what is the reason if it is not yet their than sometimes that is because most exchanges send a verification email to their customers in order to verify that a valid user has initiated a

[2018-03-04 18:07] SL50 commented on #42
## Info for those who plan to sell after the fork: MOVE TO EXCHANGES!

If you keep your ETC in cold wallets you will earn CLO at the mainnet launch. Much after the block 5500000/

Exchanges can start trading right after the snapshot with withdrawals disabled because they know how much CLO they owe to users. If you want to sell right after the airdrop you need to move your ETC to exchanges who supp

[2018-03-04 20:24] JurryG commented on #42
@aliiqbal1984 I also moved ETC from bittrex to my wallet and within 5 minutes it was there no problem, only withdrawal from Cryptopia is stuck pending. All the ETC holders there are complaining and customer service is not responding.

[2018-03-04 20:26] JurryG commented on #42
@aliiqbal1984 They have said nothing about supporting the airdrop so the only way to be sure i will receive my CLO is to send it to my wallet but Cryptopia is not allowing withdrawal.

[2018-03-04 20:44] SilverDragon135 commented on #42
@JurryG I just got ETC from cryptopia (10 minutes). So you should get it soon probably 😉

[2018-03-04 22:51] ChrisFrench commented on #42
cryptopia has been having widthdrawl issues for weeks with all currencies

[2018-03-05 04:40] aliiqbal1984 commented on #42
@Dexaran sir I have a question you are going to tap into 500,000 CLO every month for your self and for the CTO which means you are targetting the creation of 1 million CLO just for your pocket I think this is devaluing your share right from the start. my humble suggestion is to take a cut put a limit to a total number of CLO supply to make the value grow with demand. keep a fixed amount with you a

[2018-03-05 05:04] aliiqbal1984 commented on #42
@Dexaran further to the above observation about development fund allocation I have a suggestion regarding the following point

" Thus, reviewing the contract code will still make sense for beginners for the sake of "karma" increase and earning experience, but we can avoid a situation when the **whole team is working on a single contract with other audit requests being in pending**."

I suggest onc

[2018-03-05 14:28] adidaphat2018 commented on #42
Now ETC  is still on ploniex,  because my error was moved, please help me how to get calisto then 5/3

[2018-03-05 14:32] aliiqbal1984 commented on #42
@adidaphat2018 you can try moving it to Classic Ether Wallet still I believe we have some 15 mins before the fork I am not sure about Ploniex but I have created a tutorial for people to move it from Bittrex you can watch it on youtube https://www.youtube.com/edit?o=U&video_id=WzvD0jxNSp8 and follow instruction with the video that might give you a chance to get your CLO it worth a try because as pe

[2018-03-05 15:05] yujiahui commented on #42
Created a snapshot ?

[2018-03-05 15:08] adidaphat2018 commented on #42
Right now I'm leaving poloniex, have enough time left  ???? Help me soon ???

[2018-03-05 15:33] avisser79 commented on #42
I held my ETC on Ledger Nano S during snapshot. How can I check whether I've received my CLO?

[2018-03-05 15:57] leocast commented on #42
same question about ledger nano s...

[2018-03-05 16:12] Jay599 commented on #42
i have my ETC on myclassicetherwallet how to claim my callisto now and can i withdraw my ETC

[2018-03-05 16:13] Kanelus commented on #42
I had my ETCs in MyEtherWallet. How to claim CLOs?

[2018-03-05 16:28] Blazsar commented on #42
People, is i see it what happened is they took the blockchain's snapshot only. eventually we wil see Callisto tokens through ClasicEtherWallet. Those who use Ledger can use ClasicEtherWallet as wallet/blockchain viewer when they announce the website to be capable of this. about exchanges i dunno how would it work yet..

[2018-03-05 16:29] Jay599 commented on #42
okay guys so the snapshot happened, its not an issue to withdraw my ETC or even sell them now right?

[2018-03-05 16:47] yektaersoy commented on #42
@Dexaran explained it well in this topic. CLO will be distributed when the Mainnet is ready. Whoever had ETC in a supporting exchange or wallet at the 5,500,000th block will receive CLO.
That means you can withdraw your ETC from your wallet and sell it now. However, I strongly suggest you to take a look at the similarity between the ETC Chart and the Psycology of a Market Cycle Graph. I think we a

[2018-03-05 16:58] Invisible75 commented on #42
I have my etc on my classic etc wallet, are the clo come when?

[2018-03-05 17:11] leocast commented on #42
@Blazsar thank you. will check after announcement.

[2018-03-05 20:03] alarbcoin commented on #42
Nothing receive in my wallet ClassicEtherWallet

[2018-03-05 20:43] olzhas1987 commented on #42
I had my ETC on MEW, but i didnt receive CLO

[2018-03-05 20:48] nn1k1kvn commented on #42
@olzhas1987  Tokens will appear after the test network is launched  Callisto mainnet.

[2018-03-05 20:51] Invisible75 commented on #42
When is that?

Outlook voor Android downloaden

On Mon, Mar 5, 2018 at 9:49 PM +0100, "Mihails Šilovs" <notifications@github.com> wrote:

@olzhas1987  Tokens will appear after the test network is launched  Callisto mainnet.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-05 21:05] nn1k1kvn commented on #42
It will happen after the snapshot of Ethereum Classic blockchain will be created. Look the 7th point in the roadmap.

[2018-03-05 21:07] Invisible75 commented on #42
Ok ty. I hope its soon..

Met vriendelijke groet / Beste regards,

Invest Group

Trig-R

Groothandelsgebouw
Weena 737
3013 AM Rotterdam – NL

Tel:   +31 (0)10 268 06 61

 <mailto:invest@trig-r.com> invest@trig-r.com
 <http://www.trig-r.com/> www.trig-r.com

 <https://www.linkedin.com/in/pascal-van-der-knaap-87424111/>

Van: Mihails Šilovs <notifications@github.com>
Verzonden: maandag 5 maart 2018

[2018-03-05 21:25] nn1k1kvn commented on #42
@Invisible75  The launch of Callisto will be at the end of March. Dexaran  wrote here:  "Because the Callisto mainnet will be launched at the end of March (approximately. It depends on Testnet 2.0 launch results)."

[2018-03-05 21:28] Invisible75 commented on #42
@mihalis ty very much!

Outlook voor Android downloaden

On Mon, Mar 5, 2018 at 10:25 PM +0100, "Mihails Šilovs" <notifications@github.com> wrote:

@Invisible75  The launch of Callisto will be at the end of March. Dexaran  wrote here:  "Because the Callisto mainnet will be launched at the end of March (approximately. It depends on Testnet 2.0 launch results)."

—
You are receiving this because you

[2018-03-05 21:42] nn1k1kvn commented on #42
@Invisible75  It's my pleasure. You can show your gratitude to me :)
My ETC wallet: 0x2C318dD2A2e406C7E2eCe2A47A97599D00014162
Thank you!

[2018-03-05 21:52] alarbcoin commented on #42
Should the ETC be held in the wallet or not ? after the block 5,500,000

[2018-03-05 22:24] icroatt commented on #42
I am curious as to the above question as well ^

[2018-03-05 22:57] theoriginalvarunpant commented on #42
@Dexaran it is interesting what you are doing to solve the scalability issues. Do you want Callisto to be the main chain, and ETC for off chain processing or vice versa?
I am riding big on what you have planned. All the best.

[2018-03-05 23:38] nn1k1kvn commented on #42
@alarbcoin @icroatt Wait for the checkmark next to the item "**Create a snapshot of Ethereum Classic blockchain at block**". But I would wait until the end of March.  If something goes wrong then the developers can take a new snapshot.  And then you will lose. It is better to wait for  the checkmark next to the item  "**Launch Callisto mainnet (initial phase).**" This will happen **at the end of M

[2018-03-05 23:47] theoriginalvarunpant commented on #42
The above does not make sense.
You can take out the ETC now. The snapshot was already taken. If something goes wrong while testing, then the same snapshot will be resorted and re tested. Also, please note that for all address, all transactions are recorded. You can easily prove how much you held at an address for which you control the private key.

[2018-03-05 23:51] nn1k1kvn commented on #42
@theoriginalvarunpant  Where can I look the snapshot?

[2018-03-06 00:00] svenpohl commented on #42
Suggestion (CRC #43 ;) ) : Can the Callisto-Team publish the JSON-result of the snapshot of ETC Block 5500000 (created with https://github.com/EthereumCommonwealth/Callisto-Snapshot)? How many accounts are identified in Block 5500000 clearly? So everyone can prove that his own ETC-Address is correctly considered.

[2018-03-06 00:08] theoriginalvarunpant commented on #42
@nn1k1kvn Not sure you can, but please contact @Dexaran.
You can check your balance by logging on to CEW which is an interface to the ETC blockchain. Also, enter your transaction/account details at https://gastracker.io to view any account status.

[2018-03-06 02:45] zinxnix commented on #42
Yobit has CLO at 1.97 USD https://coincodex.com/crypto/callisto/
![clogit](https://user-images.githubusercontent.com/32744898/37011519-94cc4f36-20be-11e8-8987-e055e5572ac9.JPG)

[2018-03-06 02:49] anhtuannd commented on #42
I think Yobit has a lot of ETC in their wallet before snapshot, and what they do right now is pre-sale their free CLO tokens and you may not be able to withdrawn CLO.

[2018-03-06 02:53] zinxnix commented on #42
I don't have it there, but I think you are 100% correct if you do etherscan a few wallets have a lot I'm guessing they are exchanges or distributors of CLO's tbh  I just thought it was cool to see a price for it

[2018-03-06 02:55] nn1k1kvn commented on #42
@svenpohl  I propose, among other things, to upload the hash-sum of the JSON file on the in  Ethereum Classic blockchain  :)

[2018-03-06 03:06] memo13131 commented on #42
Nothing receive in my wallet ClassicEtherWallet !!!
who are receive  the CLO in ClassicEtherWallet??? and anyone know when we get ????

[2018-03-06 03:13] zinxnix commented on #42
Memo look at the roadmap checks 8-9 when that box is checked then you will have your CLO as to when that is I have no idea

[2018-03-06 03:15] zinxnix commented on #42
if you search CLO in etherscan you can see CLO is being traded and or distributed..atm

[2018-03-06 03:41] zinxnix commented on #42
scroll up to the top of this thread, you will see the boxes with the checks, according to the roadmap the fork hasn't happen yet but i think they just haven't had time to update it, Check 7 (where we are now) - Launch the second Callisto testnet to test the initial CLO distribution according to snapshot balances
 Check 8 - Launch Callisto mainnet (initial phase).
Check 9 -  Callisto mainnet implem

[2018-03-06 03:44] Dexaran commented on #42
The state of the issue is now quite correct.

We are running the snapshot script currently. The snapshot is not yet complete.
The source code of the snapshot script is available [here](https://github.com/EthereumCommonwealth/Callisto-Snapshot). We run it with Parity etc node.

We will publish snapshot results in JSON format at the corresponding repository as soon as it will be finished.

[2018-03-06 03:47] Dexaran commented on #42
Callisto.Network SLIP id `820` is proposed at SaroshiLabs.

https://github.com/satoshilabs/slips/pull/219

[2018-03-06 03:59] zinxnix commented on #42
@Dexaran I have ClassicMask, will the CLO's just appear in my wallet or do I have to add it like other Tokens with the contact address?

[2018-03-06 04:03] Dexaran commented on #42
@zinxnix Your CLO's will appear at the moment of Callisto Mainnet launch (approximately at the end of March but it depends on Testnet 2.0 launch results).

Anyways, we will not rush and we will not launch until absolutely sure that everything is working as intended. It is better to spend one more month for testing/debugging than to make a fatal mistake somewhere. Please, be patient.

[2018-03-06 04:04] rg070 opened #47 "rg070"
good afternoon . I save etc on the classicEtherwallet purse in order to get Callistro but I did not receive Callisto. tell me please when I see Callistro on my wallet?

[2018-03-06 04:07] zinxnix commented on #42
@Dexaran thank you kindly, sir

[2018-03-06 04:09] memo13131 commented on #42
@Dexaran  if I now send my ETC from ClassicEtherWallet to bittrex I want to sell it I will get CLO or not
![untitledaaaa](https://user-images.githubusercontent.com/37094231/37013776-962d92fe-2104-11e8-996e-0c171064cc62.png)

[2018-03-06 04:10] nn1k1kvn commented on #42
I have an insight that at the end of March the ETC will fly to the moon. :)

[2018-03-06 04:12] Dexaran commented on #42
You can now move your ETC at your decision. It will not affect snapshot now.

I will kindly ask to make your own research before asking. I've answered this question many times already.
This may help in some cases: https://callisto.network/

Let's keep this discussion clear from pointless messages if possible. I can guarantee that this thread will become really huge after a couple of months of Call

[2018-03-06 06:45] StefanOpariuc commented on #47
Also, the token is not found on classicEtherWallet

[2018-03-06 07:14] Invisible75 commented on #42
Hi dexaran,

So i have my eth in myetherclassic wallet on my nano, so I wait till end march and there are ten the clo?

Met vriendelijke groet / Beste regards,

Invest Group

Trig-R

Groothandelsgebouw
Weena 737
3013 AM Rotterdam – NL

Tel:   +31 (0)10 268 06 61

 <mailto:invest@trig-r.com> invest@trig-r.com
 <http://www.trig-r.com/> www.trig-r.com

 <https://www.linkedin.com/in/pascal-van-der-kna

[2018-03-06 07:17] ludmilaberidze commented on #42
Hello! I did not receiv CLO My  ETC address   0xA787283694CB291b128BF519761f2f2383D048F4
Thanks

[2018-03-06 07:20] tbounce85 commented on #42
As many already said, just wait untill the mainnet end of March ;) We should all be getting our CLO

[2018-03-06 07:32] theoriginalvarunpant commented on #42
@Dexaran, So what time was the snapshot? Went through the site, but it is not clear between that and your response. Also, hope it was at the block 5.5 million, as promised.
I waited 7hrs after block 5.5 million before moving the ETC back to Binance. So, if you took a snapshot eight hours after the block, what happens?
Will this affect my CLO? Thanks for your time.
Please respond. Happy to do some

[2018-03-06 08:01] DanielTipo commented on #42
@theoriginalvarunpant Yes, it will be up to block #5,500,000 as mentioned. This means transactions will be summed up to this height. You can create a snapshot whenever you want after the chain passed the mentioned height.

[2018-03-06 08:46] theoriginalvarunpant commented on #42
Thanks for the answer. Thought as much.
Have a great day.

[2018-03-06 09:12] dardanlatifi commented on #41
Hi gyes, any update on launching the test net?

[2018-03-06 09:12] dardanlatifi commented on #41
Hi guys, any update for the test net? when are you planning to launch it ?

[2018-03-06 11:04] Iver991 commented on #42
Hello! I had my account ETC on 5 March. If I take them off now, will I get CLO by the end of March? Thanks!

[2018-03-06 12:31] Dexaran commented on #42
The snapshot of ETC balances have been successfully completed!

Results are currently published here: https://github.com/EthereumCommonwealth/Callisto-Snapshot/tree/master/snapshot

You can verify your address now.

[2018-03-06 12:50] tbounce85 commented on #42
This file is too big to show. Sorry! damnnnn

[2018-03-06 12:55] svenpohl commented on #42
Thank you very much - in my case, I can see all my wei are in the snapshot!

[2018-03-06 13:08] Kanelus commented on #42
In my case i dont find mine  0xAf316a161876b40615d7dcFbE739DEDAedA5d17E
I had my ETCs there days ago

[2018-03-06 13:09] DanielTipo commented on #42
@Dexaran Very good, but you could write one plus zero to the wei amount for me 0x93bBE4c939c933BEe351403F5A2b6a05fb1CB312

:DD

[2018-03-06 13:10] DanielTipo commented on #42
@Kanelus It is there with 224348446110000000000 WEI.

[2018-03-06 13:12] Kanelus commented on #42
Thx a lot @DanielTipo ! Now its working maybe it was already loading while i searched and didnt see it!!

[2018-03-06 13:44] gpudb commented on #42
is there any block explorer for CLO ?
Just Yobit listing CLO and do not accept CLO deposit
HitBTC and changeNow did not listed CLO, can't find pair CLO/BTC or CLO/USD

[2018-03-06 13:47] DanielTipo commented on #42
@gpudb Check roadmap checklist at the top of the page.

[2018-03-06 14:35] Invisible75 commented on #42
If i search system say 1/1 but ic ant find it ha ha

Met vriendelijke groet / Beste regards,

Invest Group

Trig-R

Groothandelsgebouw
Weena 737
3013 AM Rotterdam – NL

Tel:   +31 (0)10 268 06 61

 <mailto:invest@trig-r.com> invest@trig-r.com
 <http://www.trig-r.com/> www.trig-r.com

 <https://www.linkedin.com/in/pascal-van-der-knaap-87424111/>

Van: Daniel Adamko <notifications@github.com>
Verzon

[2018-03-06 15:04] nn1k1kvn commented on #42
Converter wei in BASH:
#### ` echo "Input wei: "; read wei; echo "scale=4;$wei/1000000000000000000" |bc`

[2018-03-06 15:09] Invisible75 commented on #42
How can i do that?

Outlook voor Android downloaden

On Tue, Mar 6, 2018 at 4:04 PM +0100, "Mihails Šilovs" <notifications@github.com> wrote:

Converter wei in BASH:
echo "Input wei: "; read wei; echo "scale=4;$wei/1000000000000000000" |bc

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-06 15:47] tbounce85 commented on #42
My account address is on the list so I will receive CLO right?

[2018-03-06 17:42] zinxnix commented on #42
@tbounce85 yes

[2018-03-06 17:43] zinxnix commented on #42
@gpudb search CLO on etherscan

[2018-03-06 17:47] Iver991 commented on #42
my wallet address is 0xaf924616d411833Fe886B4D4FE872519380d330a. He is on ClassicEtherWallet. He is not on this list, I can hope that I will receive my CLO or not?

[2018-03-06 17:52] zinxnix commented on #42
@Iver991 Im pretty sure ClassicEtherWallet will receive CLO's automatically but it depends on whether or not you owned ETC at the time of the AD, I use it along with metamask, we just have to be patient

[2018-03-06 18:00] Iver991 commented on #42
@zinxnix Thanks! I'll be waiting.

[2018-03-06 18:27] zinxnix commented on #42
if you scroll up to 15 hrs ago in this thread you hear it from Dexaran instead of me lol @Iver991

[2018-03-06 18:58] Dexaran commented on #42
`0xaf924616d411833Fe886B4D4FE872519380d330a` this address will receive `17,37308` CLO.

I'm using [Notepad++](https://notepad-plus-plus.org/) to search the address in this snapshot file (it is quite big for normal text editors).

I will strongly recommend everyone to check if your address displayed in the snapshot properly and report any issues.

[2018-03-06 19:09] tbounce85 commented on #42
So this means I will get 30.89 CLO?

0xaf05e08bb1e66469d157eee86c25f122a768e105,30890000000000000000

right? :)

[2018-03-06 19:13] ggramal commented on #42
Ok so if i do
`git clone https://github.com/EthereumCommonwealth/Callisto-Snapshot.git`
`cd Callisto-Snapshot/`
`grep -i '0x00a5f830891c826fEf69f2836cB5Ea87D4a05474' snapshot/snapshot_0001.txt`
nothing gets returned. I suppose that snapshot missed me somehow.
But if you check http://gastracker.io/addr/0x00a5f830891c826fef69f2836cb5ea87d4a05474
it shouldnt have

[2018-03-06 21:08] theoriginalvarunpant commented on #42
Thanks. All my three addresses appear as they should.
Yipee!!

[2018-03-06 22:15] svenpohl commented on #42
I wrote a simple PHP-checker using the snapshot_0001.txt file:
http://94.130.78.238/clo-check/
(currently online, I will not logging any addresses, just the pure script - otherwise please use the snippet from GitHub)

You can check if your ETC-address is included in the snapshot-file.

The (very simple but working) PHP-snippet:
https://gist.github.com/svenpohl/325ebad3ec400ac25bec8381ddb7558d

Hop

[2018-03-06 22:42] svenpohl commented on #42
@ggramal @Dexaran  - The snapshot-File has only 1.232.481 addresses and lines. In the snapshot-tool (Callisto Snapshot script and result) is mentioned that "Update script and snapshot after 15435629 addresses checked", 15.435.629 addresses are checked - Is it possible that 14.203.148 Addresses (the difference) have zero-values? Is 1.232.481 the OFFICIAL Number of all existing non-zero CLO-addresse

[2018-03-06 22:42] Invisible75 commented on #42
Ty sven, it helped!

Met vriendelijke groet / Beste regards,

Invest Group

Trig-R

Groothandelsgebouw
Weena 737
3013 AM Rotterdam – NL

Tel:   +31 (0)10 268 06 61

 <mailto:invest@trig-r.com> invest@trig-r.com
 <http://www.trig-r.com/> www.trig-r.com

 <https://www.linkedin.com/in/pascal-van-der-knaap-87424111/>

Van: Sven Pohl <notifications@github.com>
Verzonden: dinsdag 6 maart 2018 23:16
Aan:

[2018-03-06 23:06] Dexaran commented on #47
You will receive Callisto at the moment of mainnet launch.
Snapshot is taken at `5 500 000` block. You can now move your ETC and it will not affect the snapshot.

Callisto mainnet launch is scheduled to the end of March.

[2018-03-06 23:06] #47 closed

[2018-03-06 23:36] Georgiy18 commented on #42
Hello, Dexaran!
My wallet address 0x7307eeFE4e1579781BFe95b3444ae2D08588485D is not on this list, but if you check http://gastracker.io/addr/0x7307eefe4e1579781bfe95b3444ae2d08588485d, i should have been included.
Thank you.

[2018-03-06 23:42] nn1k1kvn commented on #42
@Georgiy18 Why do you think that should have been included?

**5500168 > 5500000
5500547 > 5500000**

[2018-03-06 23:48] beatcoinpl commented on #42
@Georgiy18  you sent etc after 5500000 block, you cant be included

[2018-03-06 23:48] Dexaran commented on #42
@Georgiy18 If you transferred your ETC at block `5500168` then you will not receive CLO because your address had 0 ETC at the moment of block 5500000.

[2018-03-06 23:55] Dexaran commented on #42
I would say yes. 15M total active accounts were checked.
Only some of them had non-zero balances at the time of the snapshot.

We are currently verifying the snapshot.

[2018-03-07 00:00] nn1k1kvn commented on #42
@Dexaran  This address is really not listed, but it should be.  https://github.com/EthereumCommonwealth/Roadmap/issues/42#issuecomment-370894296
**0x00a5f830891c826fEf69f2836cB5Ea87D4a05474**

[2018-03-07 00:01] theoriginalvarunpant commented on #42
Guys a request-
Please go through the thread before posting questions which takes up @Dexaran 's time.
1. Please ensure that your transaction is BEFORE or at block 5.5 million.
2. Please check your balance by downloading the raw text file with snapshot, and use CTRL+F to find your transaction ( you can use either notepad or Notepad Plus). Ensure that you download the whole file- it is massive. Alt

[2018-03-07 00:02] Dexaran commented on #42
Yes. I know, we found one more address that was not included during the verification process.

[0x84892797b55cd4b25520c903011748ab0e8fa79a](http://gastracker.io/addr/0x84892797b55cd4b25520c903011748ab0e8fa79a)

[2018-03-07 00:04] Dexaran commented on #42
It seems that there was an issue with our Parity node and it fails to include the latest addresses.
We will verify and include them. Then the snapshot result will be updated.

[2018-03-07 00:04] theoriginalvarunpant commented on #42
Is there anyway I can help to test? Thanks.

[2018-03-07 03:57] lolzky01 commented on #42
no airdrop?
https://gastracker.io/addr/0x5a8fcf5037122a8b27b9f12b590ab13f4e376317

[2018-03-07 04:10] Sparke2 commented on #42
@lolzky01 you are fine
you will receive 5,09 CLO

[2018-03-07 05:24] alexclo commented on #42
hi Dexaran. he revisado mi direccion en el link que brindo amablemente svenpohl y efectivamente aparecen correctamente mi saldo de clo! la pregunta es la siguiente en el momento de la instantanea los tenia en mi ledger nano s . no se como hacer para poder ver mi saldo , probe en classic ether wallet y no logro verla, que debo hacer? gracias!

---

hi Dexaran. I have reviewed my address in the link

[2018-03-07 05:57] theoriginalvarunpant commented on #42
@Alexio, please go through the thread.
You will receive the CLO only when it is in mainnet. ( Approximately end of March).

[2018-03-07 08:23] sealooks commented on #42
@theoriginalvarunpant , Thank you for many replies along the thread, it's very helpful. I have a question as it's my first fork, should I keep my ETC in the wallet or can move back to the exchange safely and still receive the CLO? Already found my CLO using Seven's CLO check. Thanks ...

[2018-03-07 08:51] theoriginalvarunpant commented on #42
@sealooks it is safe for you to move it back to the exchange. Anything you do now will not affect the snapshot. Great to know that you have found your CLO. 🙂

[2018-03-07 09:06] svenpohl commented on #42
Is there today any INFURA-like service for ETC? ...or public ETC nodes? ClassicMask is not connecting for me for using web3. .. .just for 'playing'?

[2018-03-07 10:51] stroyfin commented on #42
Hello!
May be anyone know?
When is the HitBTC airdrop CLO?
Any such information?
Thank you.

[2018-03-07 11:54] theoriginalvarunpant commented on #42
@alarbcoin
Since your address appears in the snapshot, you should. ( You should check yourself as well)

Request to people- Please look for yourself before posting! Hint: go through the thread to see how to verify.

[2018-03-07 11:58] theoriginalvarunpant commented on #42
Your Balance (CLO) will be approx:114.923
Line 948385: (0x73fff72fe0600f22966a655389e9e84bb10e97fd) Balance: 114923624650000000000 Wei, (114.92362465 ETH)

[2018-03-07 12:02] alarbcoin commented on #42
@theoriginalvarunpant
Thank you for your reply and sorry for the inconvenience

Will it appear after " Callisto mainnet implementation at ClassicEtherWallet. " subtraction or is it already received

[2018-03-07 14:52] svenpohl commented on #42
I noticed a new snapshot_0001.txt with 1240081 accounts (I reload for my checker script http://94.130.78.238/clo-check/index.php) - is this the correct number?

[2018-03-07 16:07] Dexaran commented on #42
@svenpohl yes.

The snapshot is complete, verified and uploaded.

[2018-03-07 17:01] zinxnix commented on #42
@Dexaran did you create ClassicMask?

[2018-03-07 17:42] Rezurraptor commented on #42
Hey @Dexaran & @theoriginalvarunpant,

My ETC wallet address did not appear in your list. I have checked and by right I should've been included. http://gastracker.io/addr/0xfeb56348eb8bfb0f8e5995ce7833ec9c619e7335 I held it in my HitBTC Main Account (not Trading Account). Why does it show that I have 0 Ethers when I clearly deposited 403 ETC before the snapshot? It would be much appreciated if you

[2018-03-07 17:45] Dexaran commented on #42
@Rezurraptor
I would say no.
You have withdrawn your ETC at block 5499940. It is earlier than the snapshot block, thus you had 0 ETC at the moment of block 5500000.

[2018-03-07 17:51] Rezurraptor commented on #42
@Dexaran That's the thing. My last move was depositing it into my HitBTC account just before the snapshot. I never took anything out after that.. https://www.etcchain.com/tx/145b8092cbb988a4902f32839d22a9af8f97fa616a00c3fddc2d85f8d65d30c4
![screen shot 2018-03-08 at 1 49 44 am](https://user-images.githubusercontent.com/37153857/37108806-2638bec2-2273-11e8-85cb-ec47f983ba04.png)

[2018-03-07 18:02] DanielTipo commented on #42
@Rezurraptor You should had withdrawed to a wallet that you can access with a private key. Thats the safest way before airdrops, forks and snapshots.

[2018-03-07 18:04] Rezurraptor commented on #42
@DanielTipo Understood. Lesson learned. I'll ask my exchange for more info on this. Cheers.

[2018-03-07 18:06] Dexaran commented on #42
HitBTC should be fine.
https://twitter.com/CallistoSupport/status/971314970662260737

[2018-03-07 18:12] zinxnix commented on #42
@Dexaran can you please tell me why MetaMask support, would say ClassicMask isn't legit?

[2018-03-07 18:19] Rezurraptor commented on #42
I hope so. Thanks @Dexaran

[2018-03-07 18:25] stroyfin commented on #42
@Rezurraptor I have the same problem. If you find out let me know please.

[2018-03-07 20:07] theoriginalvarunpant commented on #42
@alarbcoin please wait till main net implementation.
Also, ideal way was to move your ETC into a wallet like MyEtherClassic where you own the private keys. If you kept it at an exchange, then really you are at their goodwill and mercy- and it is up to them whether they will pass on the airdrop.
For future, please note that if you do not own the private keys, you do not own the crypto. Keeping it o

[2018-03-07 20:09] ggramal commented on #42
I can see that my account is listed in the new sapshot file :D
[code]
Ty @Dexaran for not leaving this issue

[2018-03-07 20:27] Dexaran commented on #42
This was the main reason to do everything publicly and openly.
We need to make sure that everything works as intended, including testing / debugging / fixing any problems.

I would say that it is impossible to run something of this complexity from the first attempt without a single problem.

I should thank everyone in this thread for their input.
Your feedbacks will really help us to make our proj

[2018-03-07 20:33] theoriginalvarunpant commented on #42
@Dexaran Thank you for being so helpful and doing this.

[2018-03-07 22:31] TonyStark951 commented on #42
всем привет, заранее извиняюсь за тупость, но у меня такой вопрос. Когда начислят CLO на кошелек CLASSICMASK? или как я могу получить CLO другим способом? проверял, внес монеты на счет раньше, на 5495625 блоке, но как говорили изначально сразу я ничего не получил.

[2018-03-07 23:00] TonyStark951 commented on #42
А когда появится CLO на CLASSICMASK кто нибудь знает?? просто я проверил по ссылке указанной выше, и все нормально я попадаю, но в кошельке новой монеты нет. заранее спасибо за ответ)))

[2018-03-08 00:35] Dexaran commented on #42
@TonyStark951 CLO will be distributed at the moment of mainnet launch. The date of mainnet launch is scheduled to the end of March but it is not accurate.
Mainnet launch date depends on Testnet2.0 launch results.

**Please, do your own research before asking questions and keep this discussion in English only.**

https://callisto.network/
https://www.reddit.com/r/CallistoCrypto/
https://twitter.com

[2018-03-08 04:43] zinxnix commented on #42
@Dexaran can you please answer the question about ClassicMask, if you go to Chrome Store a lot of people are having the same issue all of our funds are locked in ClassicMask, as I've said before it has your name on and I have tried support and I have tried to email you all to no avail, ClassicMask has been trying to connect to the ETC network for 6 days and ClassicMask has over 5k users, i am one

[2018-03-08 06:53] Dexaran commented on #42
@zinxnix
We have developed ClassicMask and published it to chrome store earlier.
Unfortunately it has only one ETC RPC node - Epool.io.
Epool node is also a default node of MyEtherWallet and MyCrypto. As the result, Epool node experiences network problems when multiple users are trying to access their funds simultaneously.
Its not a problem of ClassicMask, its a problem of ETC node. We will add mo

[2018-03-08 08:46] nn1k1kvn commented on #42
Check CLO-snapshot for console  https://github.com/nn1k1kvn/checkclosnap
may be it will be useful to someone :)

[2018-03-08 10:35] FabyHD commented on #42
@Dexaran Hi Dexaran, just a quick questions:
I checked some addresses on the 0001.txt file of the snapshot, mine is there (great!), but some addresses are there even if they had balance 0 during the Block 5,5Mil...
just an example:
the address 0xCc9B51fE2F326CEAF57DA2DE5E1E6a7c53265622 is in the file, but its last transaction was on Nov 2017 at block 4824198 (http://gastracker.io/addr/0xcc9b51fe2f

[2018-03-08 10:45] svenpohl commented on #42
@FabyHD - for me it looks correct, I see 0xCc9B51fE2F326CEAF57DA2DE5E1E6a7c53265622 = 9984 Wei and 0x071b316a7b08026e6A550Ed64B0775Cc4Ba04004 = 1 Wei ... what is addressing your question?

[2018-03-08 10:59] FabyHD commented on #42
@svenpohl Thnks, just curiosity and probably I'm wrong as I'm not expert on this... I just noted that some addresses seem to have balance Zero as showed in gastracker during the snapshot.. but I don't know what is Wei, so probably it's a my wrong assumption, sorry.

[2018-03-08 16:20] zinxnix commented on #42
or nah....

[2018-03-08 16:24] zinxnix commented on #42
I was being polite at first, and then you continue to ignore me I will turn this thread into a shit show @Dexaran put like over 9000 comments or set an auto emailer, it is a simple question really, did you create ClassicMask?

[2018-03-08 16:43] moskovenko77 commented on #42
Tell me please how and where can be mined Callisto?

[2018-03-08 18:43] ggramal commented on #42
@Dexaran couple of questions about the CLO project
1) Is Testnet 2.0 a trial run? If yes will mainnet have a different chain thus a different genesis block or mainnet launch will continue the Testnet 2.0?
2) When an exchange says that it will support CLO (for example KuCoin) does this mean it will support the mainnet chain?
2) How do i sync the CLO block chain when the mainnet is released. Will th

[2018-03-08 21:49] Dexaran commented on #42
@zinxnix
 I already answered your question:
https://github.com/EthereumCommonwealth/Roadmap/issues/42#issuecomment-371397235

We have forked off from MetaMask when they rejected to support Ethereum CLassic. Honestly, this thread is not about ClassicMask.

[2018-03-08 21:54] Dexaran commented on #42
@moskovenko77

Epool will support Callisto as far as I know: https://clo.epool.io/
https://twitter.com/epoolio/status/961401433810767872

I don't have any information about other pools at the moment.

[2018-03-08 21:58] Dexaran commented on #42
@ggramal

Testnet is intended to test Callisto features and hardforks. We will perform a testnet-hardfork before making any hardforks at Callisto mainnet in future.

Callisto mainnet is a separate blockchain and it will be launched with its own genesis block.

It depends on exchanges, not me.

We will release callisto clients and announce it at the moment of Callisto mainnet launch.
Geth version i

[2018-03-09 02:07] Dexaran commented on #43
[ETCCoop](https://etccooperative.org/) rejected proposal to fund ClassicEtherWallet.

[2018-03-09 05:31] github1kmit commented on #42
when will I get CLO on clessicetherwallet? could anyone answer me?

[2018-03-09 06:40] theoriginalvarunpant commented on #42
@github1kmit
when will I get CLO on clessicetherwallet? When the main net is live. Expected around end of month( Mar 2018).
Please read through the thread.

could anyone answer me? Yes

[2018-03-09 07:23] ggramal commented on #42
@Dexaran thank you for your clarification :+1:

[2018-03-09 09:54] Dexaran commented on #42
We launched Testnet 2.0.
You have the opportunity to check how everything works and see your CLO balances in the test network.

Apparently, large Genesis blocks with the balances from ETC snapshot are not the most effective solution. As a result, it was decided to launch Testnet 3.0 before the final launch.

We think that it will not take long and we will launch everything as planned (end of March

[2018-03-09 11:25] theoriginalvarunpant commented on #42
Thanks for the updates 👍

[2018-03-09 12:04] fewer70 commented on #42
@Dexaran hi,my address is 0x92a608d758b6f40a9268e0b3ad1ba07bb55d53f3 and i check it on the site http://94.130.78.238/clo-check/index.php ,i get " Your Balance (CLO) will be:
Line 1231669: (0x92a608d758b6f40a9268e0b3ad1ba07bb55d53f3) Balance: 99347765000000000000 Wei, (99.347765 CLO)"
but where is my CLO,How will I transfer it.

[2018-03-09 12:12] github1kmit commented on #42
Hi, my CLO Balance is Your Balance (CLO) will be:
Line 199677: (0x003a29be7f09d75610bfdd9a0c351ff5c0d306b3) Balance: 20260744769766204880 Wei, (20.260744769766 CLO)

But I had 215 ETC on my balance through 5500000 block. Could anybody help me to recieve my CLO in right quantity??

[2018-03-09 12:28] Dexaran commented on #42
@github1kmit Its not true.
Transaction history shows that you had only 20 ETC at the moment of `5 500 000` block.
http://gastracker.io/addr/0x003a29be7f09d75610bfdd9a0c351ff5c0d306b3

You have withdrawn 214,54 ETC at block 5484931 which is earlier than block 5 500 000.
http://gastracker.io/tx/0x7bf3e68bd00d96e57589739c87c9e2996b806f8a12be0a2c3e541ca4a9b4a604

[2018-03-09 13:29] Dexaran commented on #42
# Testnet 2.0 is successfully launched.

You can now access your Test-CLO at [ClassicEtherWallet](https://ethereumproject.github.io/etherwallet/).

#### Testnet2.0 includes snapshot balances. You will receive the same amount of CLO at the moment of mainnet launch, as you initially received on testnet2.0. Moving your Test-CLO will not affect Callisto mainnet anyhow.

- To access your Test-CLO go to

[2018-03-09 13:32] Dexaran commented on #42
We will launch a blockchain explorer soon.

[2018-03-09 13:39] alexclo commented on #42
I worked ok! of the 2 ways and also ok! choosing the Ledger option!
Thank you

Regards!

![image](https://user-images.githubusercontent.com/37133194/37210024-f75a81da-2385-11e8-8c6d-66d08b8bab77.png)

[2018-03-10 16:07] kimisan commented on #42
wow just find here,  great job for EC team !
By the way, what is the estimate launch time of Testnet3.0 ?
Thank you

[2018-03-10 16:32] ssurgut commented on #42
Hi. how i can take my CLO?
![5](https://user-images.githubusercontent.com/37247249/37244338-714bc836-24a9-11e8-8b4e-c11f3bc6e489.jpg)
http://gastracker.io/tx/0x090a34ba3ee79bbbb9595df2ce9ff9cc15f0689c8f162bab6f241fcebfb08804

[2018-03-10 23:32] Dexaran commented on #42
@ssurgut You should use Testnet2.0
You have `31.980` at `0xE1def3fbC82106880f1d0041BE0D92744C2EA5d7` address currently.

https://explorer.callisto.network/account/0xe1def3fbc82106880f1d0041be0d92744c2ea5d7

You do not need to do anything with your CLO on the test network. It is only here for testing. You can pick up your real Callisto at the time of Callisto mainnet launch.

[2018-03-10 23:33] Dexaran commented on #42
# Callisto blockchain explorer is launched.

https://explorer.callisto.network/

At the moment, the explorer is running in Callisto testnet2.0.

[2018-03-10 23:37] theoriginalvarunpant commented on #42
Works well for me. Verified my three addresses all have CLO.

[2018-03-11 03:25] Dexaran commented on #42
## Here is a couple of schematic representations of Smart-contract Auditing Department (SecurityDAO) workflow:

[Audit_Reg_Flow_2.pdf](https://github.com/EthereumCommonwealth/Roadmap/files/1800002/Audit_Reg_Flow_2.pdf)
[Audit_Reg_Flow_1.pdf](https://github.com/EthereumCommonwealth/Roadmap/files/1800003/Audit_Reg_Flow_1.pdf)

[2018-03-12 22:29] misterTblockchain commented on #42
@Dexaran You said Epool will offer PoolMining but I would like to solomine callisto. How should I prepare software-wise to be able to mine directly at mainnet launch?
Thank you.

[2018-03-12 23:53] Methw commented on #42
@misterTblockchain hello. You could use install geth and solo mine it.

[2018-03-13 00:59] moskovenko77 commented on #42
Good afternoon, I would like to run the CLO mining on my pool which I
create now, is this possible?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Без
вирусов. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2018-03-13

[2018-03-13 01:01] moskovenko77 commented on #42
Good afternoon, I would like to run the CLO mining on my pool which I create now, is this possible?
how much memory size and spase on SSD i need

[2018-03-13 08:10] github1kmit commented on #42
Hi everyone. In roadmap I see next: Callisto mainnet implementation at ClassicEtherWallet.
- after this step we will see our CLO balances on classicetherwallet? Or when?

[2018-03-13 09:57] MohammadrezaNargesi commented on #42
Hi,
I bought ETC some days before the fork and stored all my coins at ether classic wallet here:
https://ethereumproject.github.io/etherwallet
But unfortunately, after 8 days from the fork, I am not granted with CLO coin...
Could you please help me with this ?
Regards,

[2018-03-13 10:06] theoriginalvarunpant commented on #42
Please check whether you are going to get CLO using the explorer.
And wait ( like everyone else) till mainnet is liv Cheers!

[2018-03-13 18:06] tatam3x commented on #42
_Hi,
I bought ETC some days before the fork and stored all my coins at ether classic wallet here:
https://ethereumproject.github.io/etherwallet
But unfortunately, after 8 days from the fork, I am not granted with CLO coin...
Could you please help me with this ?
Regards,_

You are engineer but you cant read a topic? or spend 2 minutes to verify if your question is not asked before?  (asked already

[2018-03-14 05:17] nn1k1kvn commented on #42
@Dexaran  is there an explorer.callisto.network API ? https://github.com/EthereumCommonwealth/Roadmap/issues/42#issuecomment-372075976

[2018-03-14 05:29] Methw commented on #42
@nn1k1kvn you can compile from the source once the testnet 3.0 release.

[2018-03-14 10:20] moskovenko77 commented on #42
where i can get it?can you send a link to me?

2018-03-14 7:29 GMT+02:00 Methw <notifications@github.com>:

[2018-03-16 13:36] dharshal111 commented on #42
Hello @Dexaran,
I have seen that my balance was 12 ETC on 5,50,000 block
But I have 0.0005 Callisto in mt account.
Did I miss something ?
My address
0x9dBeeD1D8294F2FAb4DB90BebAe407D269C84c1B
Thanks

[2018-03-16 17:45] nn1k1kvn commented on #42
@dharshal111  You have a [12.21181911 CLO](https://explorer.callisto.network/account/0x9dbeed1d8294f2fab4db90bebae407d269c84c1b)  on your account.

[2018-03-16 18:25] InfinityEconomicsFoundation commented on #42
The block explorer inks to the wallet address in classic ether wallet are not correct. It should be like https://explorer.callisto.network/account/{WALLET_ADDRESS}
instead of
https://explorer.callisto.network/addr/{WALLET_ADDRESS}
By the way, where will I find a calisto node later to add it to my downloaded MyEtherWallet?

[2018-03-17 12:56] FarrukhMehboob commented on #42
as per explorer my CLO balance is 1.69 but still there is nothing inside of it. do i need to add contract address and decimals or just wait untill its automactically shows up.  this is my address 0xA04D8916880f8EbA15A1D933F21Dfc2fA91d1F0F plz help me out thanks a lot.
b

[2018-03-18 17:08] dimka3553 commented on #42
How to mine callisto?

[2018-03-19 01:27] Methw commented on #42
@FarrukhMehboob check the block explorer.
you will be credited CLO  https://explorer.callisto.network/account/0xa04d8916880f8eba15a1d933f21dfc2fa91d1f0f
Relax,,

@dimka3553 install go-callisto/rust-callisto and compile it. run geth/parity. and viola, you are mining CLO. but ATM that just dummy coin until mainnet released in 15 April..

[2018-03-19 16:03] ismail9424 commented on #42
@Methw Thought I read somewhere mainnet launch would be on the 23rd of March, so upcoming Friday. Has the launch been delayed or did i acquire wrong information?

[2018-03-19 16:13] Methw commented on #42
@ismail9424 you were right. We delaying the release to make sure the smooth launch. Currently we are still Testing the Testnet 3.0 amd make sure its good to go before launching the Callisto Mainnet.
Sorry for the delay and inconvenience.

[2018-03-19 16:25] ismail9424 commented on #42
@methw No problem. I'd rather have a smooth launch than a buggy one :)

[2018-03-19 20:11] FarrukhMehboob commented on #42
thanks @Methw

[2018-03-19 21:10] nn1k1kvn commented on #42
@Methw  I'm trying to compile rust-callisto. In the compilation process, I get an error. What am I doing wrong?

![screen](https://user-images.githubusercontent.com/17894124/37622601-c19698e8-2bca-11e8-8cf1-9c989ec0cda5.PNG)

[2018-03-20 20:30] dimka3553 commented on #42
@Methw how exactly do you compile it? what program do you use? how to use geth? (its cause I'm a noob with 40 1080ti and i want a lot of those coins)

[2018-03-20 20:39] yograterol commented on #42
We will publish tutorials to compile go callisto and rust callisto soon.

[2018-03-20 23:20] Methw commented on #42
@nn1k1kvn @dimka3553 what OS do you use to compile rust-callisto and/or go-callisto?

[2018-03-21 07:13] dimka3553 commented on #42
@Methw Windows 10

[2018-03-21 08:51] Bener3 commented on #42
Guys, please care. There are some scams on the internet like this ; https://callistonetwork.net/index.php

They want you to put your private keys and Password to their website to get your Callisto after the mainnet launch.

[2018-03-21 10:12] nn1k1kvn commented on #42
@Methw Windows Subsystem for Linux (WSL)  Windows 10 https://github.com/EthereumCommonwealth/Roadmap/issues/42#issuecomment-374790294

[2018-03-21 15:18] github1kmit commented on #42
Hi everyone. Why my link doesn't work??
https://explorer.callisto.network/account/0x7B44FaA28b2cBf955D5bE65bc2818C88d8050B00

[2018-03-21 19:13] Dexaran commented on #42
## Testnet 3,0 is launched.

Testnet3 explorer: https://clo.explorerz.pw/

RPC node: https://clo-testnet3.0xinfra.com/

Testnet3.0 represents a testnet implementation of Callisto protocol with manual balances distribution. This is an attempt to avoid big genesis blocks and improve nodes stability.

It is decided to launch the Callisto mainnet through the model of testnet3.0. Callisto mainnet launc

[2018-03-22 01:57] Methw commented on #42
@nn1k1kvn have you try to downgrade the rust? I managed to connect to Testnet 3.0 with little tweak. maybe wait until @yograterol update the rust-callisto.

[2018-03-22 06:27] dimka3553 commented on #42
Please, how do I compile it and start mining?

[2018-03-23 02:44] Methw commented on #42
@dimka3553 If you want to test to solo mine CLO, compile it. Read the wiki. I can compile Rust-callisto/Go-Callisto with it.
and IF you want to pool mining it, you can find the pool that support Testnet 3.0.

[2018-03-23 05:18] eoqpro commented on #42
Hello, If at the time of the picture I stored my ETC at https://ethereumproject.github.io/etherwallet/, do I need to import the private key into https://callistonetwork.net?

[2018-03-23 05:46] Methw commented on #42
@eoqpro please dont. Thats a scam website. Callisto website is https://callisto.network. Please wait until the mainnet release in 15 April and you will get CLO. In the mean time you could join our discord or telegram group.

[2018-03-23 06:01] eoqpro commented on #42
@Methw  Peace to your home! We are waiting for the launch of the network!

[2018-03-23 09:58] DanielTipo commented on #42
@eoqpro NEVER GIVE OUT YOUR PRIVATE KEY EVER! Or your funds in CLO, as well in ETC, ETH ... guaranteed to be stolen!

[2018-03-23 20:20] ggramal commented on #42
@Methw go-callisto does not compile for me on Ubuntu 16.04
[code]

[2018-03-23 20:45] ggramal commented on #42
@Methw After installing go1.9.4 i was able to build it but when i run
[code]
I have an error
[code]

How did you manage to sync Testnet3.0?

[2018-03-23 21:39] Methw commented on #42
@ggramal hello. You can try with
[code]

It will Run in Testnet 3.0 network. The Mainnet is not released atm.

[2018-03-24 10:34] ggramal commented on #42
Thank you @Methw :smile:
Indeed with ```--testnet``` flag it works but the synchonization does not start :disappointed:

[code]

[2018-03-24 14:21] Methw commented on #42
@ggramal try to remove files is ~/.callisto/ with
[code]

In your log, its connected to 1 peer. Wait 10 to 20 minutes for sync.

[2018-03-26 09:18] sv3tli0 commented on #42
Reading the 1.2a whitepaper revision..
Just to mention that 15 April is not Q1 :)

30% is really large developer tax. I hope it is not too much from your side as it is really close to a scam level.. Having control over 1/3 of the net makes it close to private/owned..

[2018-03-26 19:08] ggramal commented on #42
@Methw still doesnt work
[code]
I guess its better to cr8 an issue in https://github.com/EthereumCommonwealth/go-callisto not to spam this thread

[2018-03-28 11:39] ForKHELP1989 commented on #42
i have CLO on testnet version on classicetherwallet . can i send my ETC and CLO to an exchange to trade them now ? and do they both get sent together or do i have to send them separately ?

[2018-03-28 13:43] DanielTipo commented on #42
@ForKHELP1989 Wait for mainnet. Testnet is for testing purposes.

[2018-03-28 20:31] ForKHELP1989 commented on #42
Its been listed on Yobit.net site already ?

Sent from my iPhone

[2018-04-02 02:18] leanleanlean commented on #42
How can I create a wallet for CLO in MyEtherWallet? Thank you

[2018-04-02 08:41] AndrewGuarda commented on #41
Hey! Do you have plans to realize public API for blockexplorer?

[2018-04-02 08:58] Methw commented on #42
@ForKHELP1989 IF you have ETC in Yobit at the time of Snapshot, you can trade CLO there. but cant withdrawal and deposit CLO there as the Mainnet is Not released.

@leanleanlean what do you use it for? For Testing only, change the network to Testnet 3.0
The Mainnet is released ETA 15 April 2018

[2018-04-03 03:39] yograterol commented on #41
@AndrewGuarda the block explorer is/will be open source.

[2018-04-03 16:55] VAAndy commented on #42
Hello. Can i move my ETC from my Classicetherwallet to somewhere else (for example an exchange) without losing the CLO? or do i have to wait until the release of the mainnet?

[2018-04-03 17:14] FarrukhMehboob commented on #42
@VAAndy you can move them since snapshot has already been taken you will just get CLO once testnet 3.0 is online.

[2018-04-04 10:34] github1kmit commented on #42
How can I known dates of roadmap's releases?

[2018-04-04 10:53] theoriginalvarunpant commented on #42
@VaAndy Yes, safe to move ETC.

[2018-04-04 10:55] theoriginalvarunpant commented on #42
@FarrukhMehboob that is not correct. Please wait for Mainnet, not Testnet 3.0 for getting the CLO.
Testnet 3.0 is already live.

[2018-04-14 11:38] dimka3553 commented on #42
will testnet clo convert into real clo?

[2018-04-14 13:50] gpudb commented on #42
How to mine CLO ? is there any tutorial or doc

[2018-04-14 14:45] dimka3553 commented on #42
@gpudb http://test.clopool.pro

[2018-04-15 01:37] theoriginalvarunpant commented on #42
@Dexaran Thanks for working so hard on this. I cannot still see my CLO tokens in CEW. ( CLO is not listed as a token.). Do I manually configure by selecting "Add Custom Token"?
I can just see my Ethereum Classic balance.

[2018-04-15 06:05] Dexaran commented on #42
# Callisto mainnet is launched.

You can access your CLO at [ClassicEtherWallet](https://ethereumproject.github.io/etherwallet/).

You need to switch to **Callisto Mainnet** node to interact with Callisto chain:

![clo-node](https://user-images.githubusercontent.com/26142412/38775458-0ae12152-407b-11e8-89b8-17d4a0333f6f.png)

The CLO balance will be displayed when you unlock your account in Classi

[2018-04-15 06:30] theoriginalvarunpant commented on #42
Thanks, CLO mainnet drop down option was not available when I posted- only testnet 2 and testnet 3.
I can see it now, ( although I thought it would appear as a token- but thanks to let me know that you have to switch the Network) and yes, the CLO is appearing in all my accounts. All the best for a great crypto.

[2018-04-15 06:51] dimka3553 commented on #42
thanks to Callisto I made 1000$ in half a night

[2018-04-15 06:54] tbounce85 commented on #42
Great, now when can we start trading them? When is it coming to exchanges?

[2018-04-15 06:57] theoriginalvarunpant commented on #42
You can trade Callisto on https://yobit.net/en/trade/CLO/BTC
But I would strongly recommend to hold on, as big things are planned.

[2018-04-15 07:02] tbounce85 commented on #42
OK cause I don't wanna go on YoBit :D

[2018-04-15 07:56] dimka3553 commented on #42
what other exchanges are going to support callisto?

[2018-04-15 09:55] Dexaran commented on #42
@dimka3553

This exchanges announced that they will support CLO:

- ChangeNow
- KuCoin
- CoinOne
- CoinNest
- HitBTC

There are some exchanges that said that they will support CLO but they did not announced it anyhow.

[2018-04-15 10:06] Dexaran commented on #42
## [clo.2miners.com](https://clo.2miners.com/en) balances issue

There was a network split after the launch.

We did not expect such a high hashrate right after the launch and the initial difficulty was quite low. **clo.2miners.com** mining pool had >51% of the network hashrate. This allowed them to split off.

However, this is not a **clo.2miners.com** fault.

As a result, we agreed that the **cl

[2018-04-15 15:56] IsmailBi commented on #42
Hello sir!

i have some questions !

i have mined the clo testnet 3.0 in 2miners.com , i mean i have about 100 blocks .
i've get it in my ethrwallet as clo testnet 3.0 ,

so now the mainnet is launched , wha will happend to my testnet tokens ? am i gonna lose it ?
is 100 blocks = 0 ? in the futur can i send this tokens to an exchanger ?

Thank You Sir

[2018-04-15 16:03] sv3tli0 commented on #42
Ismail, answer is No ..
Test clo are just test coins. They will never go to live net / trades ..

[2018-04-16 03:44] Dexaran commented on #42
# Callisto blockchain explorer now works on the mainnet.

https://explorer.callisto.network/

[2018-04-16 04:16] #10 closed

[2018-04-16 05:37] Dexaran commented on #42
Multichain Geth supports Callisto network now: https://github.com/ethereumsocial/multi-geth/releases

[2018-04-16 11:54] Dexaran commented on #42
### clo.2miners.com refund

Here is info about the clo.2miners.com pool split. From pool DB that you can find at the repo (https://github.com/Dexaran/clo.2miners.com-snapshot):

CLO PPLNS: 5343257325486524 gwei (paid+balance) or 5382711075485771 gwei (paid+balance+immature)
CLO SOLO:  4502651869800000 qwei (paid+balance) or 4549048744800000 gwei (paid+balance+immature)
or
CLO PPLNS: 5343257.33 CLO

[2018-04-16 18:12] Dexaran commented on #42
### Initially mined CLO were burned successfully.

Here is the address that served to distribute initial (ETC snapshot) balances at Callisto Network: [0x183394f52b2c8c034835edba3bcececa6f60b5a8](https://cloexplorer.org/addr/0x183394f52b2c8c034835edba3bcececa6f60b5a8)

Extra CLO that were mined during the snapshot balances distribution were finally burned at block `34902` :
https://cloexplorer.org/

[2018-04-16 18:29] ChrisFrench commented on #42
Hey guys,

Where can I information on how to mine CLO.

I am mining ETC at the moment and thought it would be fun to mine CLO for a
bit

On Mon, Apr 16, 2018 at 11:12 AM, Dexaran <notifications@github.com> wrote:

[2018-04-16 18:44] ChrisFrench commented on #42
Nevermind clearly documented. I am mining CLO now :)

0x6f3a4f28dC1627b56f926ee62efeF818859EFdbd

On Mon, Apr 16, 2018 at 11:29 AM, Christopher French <
chris@ammonitenetworks.com> wrote:

[2018-04-16 19:25] ggramal commented on #42
@Dexaran @yograterol @Methw
It there a possibility that by the time of the mainnet launch a miner that was solo mining by himself ( i.e synced the blockchain with `geth` and linked his mining software  to the local RPC port). Could be also affected by this `2miners fork`. Because i have this in my `Claymore` log
[code]
There where quite alot of `Rejected shares` but there where also some `accepted

[2018-04-16 19:26] Dexaran commented on #42
@ChrisFrench

Just look over pool info https://coinfoundry.org/pool/clo

[2018-04-17 06:02] iftiml commented on #42
@Dexaran  when we can exchange clo ? Yobit is on maintainance and other announced exchangers still dont accept clo in their market.

[2018-04-17 06:11] Dexaran opened #48 "Policy of financial transparency (Callisto)."
The Ethereum Commonwealth and Callisto team adheres to the policy of financial transparency.

We keep a complete financial history in an open document so that everyone can review it. Financial operations will be described at the above document. Financial operations are verifiable by transaction hashes.

Each financial operation of [Callisto Treasury](https://cloexplorer.org/addr/0x74682fc32007af0b

[2018-04-17 06:13] Dexaran commented on #42
@iftiml Depends on exchanges. You'd better ask them because I'm not the owner of any exchange.

[2018-04-17 08:28] dx095 commented on #42
У меня на кошельке монеты Testnet CLO с ними можно что нибудь сделать

[2018-04-17 08:29] Aurum98 commented on #42
@Dexaran there is no approximately date when the exchange accept Clo.?

[2018-04-17 08:48] Alexankz commented on #42
@Dexaran  Can I use tesnet 3.0 CLO coins that I have mined?

[2018-04-17 09:57] Methw commented on #42
@Aurum98 See dexaran post. just 2 above you.

@Alexankz All the mined block in Testnet 3.0 is not transferable to Mainnet.

[2018-04-17 10:26] hamedda76 commented on #42
@Methw so all testnet 3 CLO's = 0 ?

[2018-04-17 14:14] hamedda76 commented on #42
@Methw thanks for answer. i mine testnet's with my gpu's but there is many miners they buying hash power for testnet 3 clo's becuese they don't know. very sadly. sorry for my bad english😑

[2018-04-18 06:59] Ujin19 commented on #42
Sooo... i can't see any Clo in my MyEtherWallet. How can i see them?  Thnx

[2018-04-18 19:21] Dexaran opened #49 "Callisto and ETC security auditing sustainability."
Longterm sustainability of Callisto platform and CLO financial model.

The initial plan was to separate core features (financial: Cold staking/ utility: Free security auditing). Cold staking should bump the price. The higher the price is, the more effective security enhancement will be.

However, this is just a conception and it is far from guaranteed. Watching the EOS cenceptions I came into a co

[2018-04-19 05:49] theoriginalvarunpant commented on #42
I had to change the network on top right from dropdown to Callisto network, but I used CEW. (Classic Ether Wallet).

[2018-04-19 13:34] vitalik841 commented on #42
У меня баланс callisto 0 сказали что будет компенсация?

[2018-04-19 14:06] vitalik841 commented on #42
А  где мой блоки? а второго аккаунта вообще нет?обидно у всех есть а у меня вот.
+     " clo: майнеры: 0xec7f-------------------148f23ad " : {
+         " type " : " hash " ,
+         " значение " : {
+             " lastShare " : " 1523760898 "

[2018-04-19 20:02] tatam3x commented on #42
Hi everyone. Did you try to send 1 CLO with MEW?
i have -18000 CLO
           - 0.98 ETH
           - 2 ETC
When i try to send i have an issue.
"Insuffisant funds, you need 0.01 CLO to send... "
I m connected to callisto network node .
I tried also ETC i doesnt work.
I use a legder nano.
Thanks for ur help

[2018-04-19 20:35] theoriginalvarunpant commented on #42
Are you selecting the "Callisto Network"? Or is the CLO on Testnet?
Also, hope you are not transferring all the funds?
Transfer would require some gas ( 0.01 CLO).
Seems you do not actually have CLO on the address.
Can you post the address?

[2018-04-19 20:55] tatam3x commented on #42
I selected callisto  network mainet.
210 000 gas limit.
Account 0xb2634fa317326f7176701ed8c5ebbb13b1204333
Balance:	18033.308850802 CLO

thanks for your help.

[2018-04-20 00:38] theoriginalvarunpant commented on #42
Yes, you do have 18044.071301062 CLO now. And there are transactions incoming as well.
Have you unlocked your account? And verified the address you are trying to send to is supported? ( although MEW would not check that).
If everything is well, then it seems like a Ledger Nano issue.
Try sending using ClassicEtherWallet. Both MEW and CEW are just interfaces to the Blockchain.
You connect using the

[2018-04-20 01:03] tatam3x commented on #42
I use CEW not MeW.
I send to my other rig address. And same issue with the other. Yes maybe nano issue....pfff
thank you.

[2018-04-20 01:55] vitalik841 commented on #42
тест3.0 меня остовели без нограды где компенсация на 2минера тоже неотвечают на письмо !

[2018-04-20 03:10] vitalik841 commented on #42
2минера. пишут что выплатили компенсацию а кто решал кому платить почему я без награды?

[2018-04-20 03:55] tiotoi commented on #49
@Dexaran is there any minimum to CLO? i mean to hold them?

[2018-04-20 03:58] Alexankz commented on #42
А что в слове х*й три ошибки делаем, Виталик? ))) Никакой гугл не переведёт твою речь на английский. А по-русски тут некому отвечать. Ответил же чувак - тестовая сеть была только для тестов, денег не получим. Компенсация была майнерам в основной сети, а не в тестовой.
P.S. Все-таки русский язык подтяни немного, я уж про английский молчу. 8 ошибок в двух предложениях - перебор (((

[2018-04-20 04:01] tiotoi commented on #42
@vitalik841 na to ona i testovaya set'! 2miners pisali ne pro nee, prochti eshe raz i na etot raz vnimatel'nee

[2018-04-20 04:50] vitalik841 commented on #42
тест без шахтеров ? я нипонемаю как тест без шахтёров. шахтёры bitcoin платили чтобы тест прашол а награду непалучили . нехарашо 3дня работы без награды!!!!!!!!!!!!

[2018-04-20 05:04] vitalik841 commented on #42
надо в соцсетях шахтёрам написать ?

[2018-04-20 05:05] vitalik841 commented on #42
правильно  ваш фарк называют!!

[2018-04-20 05:06] tiotoi commented on #42
@vitalik841 uvajaemiy shahter vitalik, vi vidno ne do konca ponimaete nekotorie detali pri razrabotke.  idite s mirom!

[2018-04-20 05:30] Bones972 commented on #42
I am having the same issues with my Trezor.   I have a balance on CLO but it keeps telling me that I do not have enough to send.  Is this an issue with CEW or with our hardware wallets?

[2018-04-20 06:31] vitalik841 commented on #42
я праграмист и когда я пишу праграму то тест проходит на маём кампьюторе а не на пользовательском! благодарю за вашу помощ и желаю вам чтоб ваши дела шли так как вы мне помогли .

[2018-04-20 06:34] vitalik841 commented on #42
Я невладею Русским

[2018-04-20 10:02] Alexankz commented on #42
а каким владеешь? пиши уж по-хохляцки, только грамотно ))) Удачи в программировании, Виталик

[2018-04-20 10:05] realdjyogi commented on #49
How about some marketing update please

[2018-04-20 17:29] nervanap commented on #42
@Dexaran
hi,
is there a support email for clo?

[2018-04-20 20:36] dx095 commented on #42
CLO SuperCoin!!!!!!!!!!!!!

[2018-04-21 09:14] Dexaran commented on #42
Please, write only in English in this thread.

[2018-04-21 09:16] Dexaran commented on #49
@tiotoi This is under consideration at the moment. I think that there should be a minimum threshold but it depends on CLO price and the amount of auditors that we can hire at once.

[2018-04-21 10:53] fewer70 commented on #42
I transfer my etc in the trustwallet but I don't get my clo . @Dexaran

[2018-04-21 12:12] realdjyogi commented on #49
Move some tokens to an exchange. Now trading only btc 1.00 per day. A small push now will give a big jump.

[2018-04-23 01:16] cypheron commented on #48
The sheet is missing TX 0x55d02b2f7a6e2d1c5d17219a0b4572ff3534a729e14905f4765b2e3e20e25328 ("Borrowed 3,100,000 CLO from Staking Reserve to refund clo.2miners.com pool") as an OUT transaction on the "Staking reserve address" sheet.

[2018-04-23 08:28] workvint commented on #42
@Dexaran Please check news e.g. https://news.callisto.network/callisto-news-update/ returned 404.

[2018-04-23 09:12] FarrukhMehboob commented on #42
When CLO is going on exchanges???

[2018-04-23 11:15] Dexaran commented on #42
@Bones972

I can't answer this question at the moment. We have 3 versions of cold staking protocol and it is not yet decided which one will be finally implemented. Each of them has its advantages and disadvantages.

I will tell you more information as soon as a decision is made.

In [Cold Staking v1.0](https://github.com/EthereumCommonwealth/Cold-staking) the amount of staker's reward depends on r

[2018-04-23 11:17] Dexaran commented on #42
@workvint Thanks for the report.
@sampol18 will work on this soon.

 https://github.com/EthereumCommonwealth/Callisto-Website

[2018-04-23 11:28] Dexaran commented on #42
### Callisto Network status summary.

Callisto network is successfully launched. All the clo.2miners.com pool post-launch issues are resolved.

Currently, the network is already stable. The network hashrate is stable and sufficient to provide the necessary level of network security.

CLO can now be listed on exchanges.

[2018-04-23 17:49] Dexaran commented on #49
# The future of programmable blockchains, smart-contract systems and the role of Callisto in it.

## Overview

Currently, there are many smart-contract development platforms. Many of them are based on the Ethereum code. Being a developer of Ethereum smart-contract and a security auditor, I can say that there are many limitations of Ethereum smart-contracts. Therefore, several newer and more advanc

[2018-04-23 22:39] tatam3x commented on #42
And for all users with legder and trezor? Theirs CLO are stucked on CEW

[2018-04-23 23:02] Methw commented on #42
@tatam3x have you check it with ledger amd trezor? As I know Trezor work fine, ledger will have to wait a little bit.

[2018-04-25 06:53] neoss37 commented on #42
LEDGER NANO S still not working on CEW with Callisto!!!!

I chose CLO clopool.net     clocallisto.network, all also can not send my CLO

[2018-04-26 17:32] tatam3x commented on #42
yes i confirm !!! LEDGER always down....no more the 0.01 issue...now i have "window block" issu

[2018-04-26 17:48] Loopingo commented on #42
Please read the thread and be patient. A fix for trezor sas deployed, fix for nano s is on the way.

[2018-05-01 16:44] harry1453 commented on #42
Having a different issue with Ledger Nano S: "invalid sender" (I've read the thread btw)

According to geth docs this means the signature was invalid, a bit of research says it's probably down to an invalid chain ID, but chain ID is definitely set correctly in the raw transaction. Any ideas?

[2018-05-01 23:10] tatam3x commented on #42
yes also i have no the same problem as you...each day we had a different
new issue.

Le 1 mai 2018 18:44, "Harry" <notifications@github.com> a écrit :

[2018-05-02 14:59] tatam3x commented on #42
i think  no 😢 last time i use nano ledger for a new coin

[2018-05-07 10:16] Dexaran commented on #42
Currently, Ledger and TREZOR are working. (since `3.11.3` release of ClassicEtherWallet)

[2018-05-07 10:28] harry1453 commented on #42
@Dexaran give my thanks to whoever fixed this. Working now, awesome work guys!!!

[2018-05-08 15:14] Loopingo commented on #42
@Dexaran 👍  Ledger nano S issue is fixed !

[2018-05-08 15:25] alexclo commented on #42
@Dexaran

why clo is not listed yet in coinmarketcap? what date will he do it for?

[2018-05-16 10:02] kawayi123 commented on #49
@Dexaran我喜欢你的建议。从很多方面来看，成为CLO的持有人似乎都会持有公司的股份。如果CLO的价值就像一个股票价值，而冷股票就像赚取股息一样。我唯一的反对意见是让服务无限期地保持自由。也许最初是为了让开发人员适应审计服务。但是，在建立之后，我会建议保留一定比例的CLO抵押品，作为服务费用。

[2018-06-04 09:42] nealaka commented on #49
I partially agree and support the way that you guys offering free audit for contracts.
Ive got a curiosity question.
How or what kind of warranty or guarantee you can provide to these smart contract developers so they can trust your work and keep coming back for more.?
Also I think for the first comers as a smart contract developer it should be free and then slowly you should start "charging" or m

[2018-06-06 22:09] Dexaran commented on #42
# Callisto Roadmap update: detailed overview

### 1. Mobile wallet development was removed from the Roadmap.

[Coinomi](https://coinomi.com/) and [Trust wallet](https://trustwalletapp.com/) already support CLO and has mobile versions. In this case, the development of another mobile wallet is just a waste of development resources.

### 2. Formation of the Security Department of Callisto (Solidity)

[2018-06-17 06:31] Yoshida77777 commented on #42
I can't send CLO with CEW + Ledger Nano S. I have enough CLO amount.
Why is this?

error message

[2018-06-17 08:19] SilverDragon135 commented on #42
@Yoshida77777 I think, that you didnt switchet network to CLO (right top corner)

[2018-06-17 08:45] Yoshida77777 commented on #42
@SilverDragon135 I have already selected "Network : CLO".

[2018-06-17 09:28] SilverDragon135 commented on #42
@Yoshida77777 do you see your clo in ballance ? Did you tryed to send 1CLO less than ballance?

[2018-06-17 09:50] Yoshida77777 commented on #42
@SilverDragon135 I can see CLO balance. I tried to send 100CLO, but The error message was displayed.

![download](https://user-images.githubusercontent.com/40331037/41506678-5ed597c0-725d-11e8-80aa-f6bb9d87f21f.png)

[2018-06-17 09:57] SilverDragon135 commented on #42
I'm sorry, I'm out ideas then. You would have to wait for devs.

[2018-06-17 11:04] Yoshida77777 commented on #42
Thank you for the advice.

[2018-06-18 02:48] j-chimienti commented on #42
@Yoshida77777 sorry for having trouble w/ sending tx.

I was successful w/ multiple tx w/ Ledge today.

https://cloexplorer.org/tx/0xf9fe50c3a9565501af8c2389e675947d389cd8835ba4663f84a16f81bf30a305

https://cloexplorer.org/tx/0x84faf2f869c34ac7460b0b60ae2f1751b091e9754344baf471c68a6f13872a62

https://callistoexplorer.com/tx/0xa6a91aadc8cfb4c37a8fce85743f0fb64b28a19c686150f74884a87118a28cb4

https:

[2018-06-18 10:02] Yoshida77777 commented on #42
@j-chimienti
The error message was displayed when sending tx. Generating tx has no problem.
I using "callisto.network".

I tried using "clopool.net", but I couldn't do it.

[2018-06-18 16:17] Yoshida77777 commented on #42
@j-chimienti
I changed the "gas limit" field from 21,000 Gwei to 42,000 Gwei. After that, I was able to send the CLO.
After that, when I restored to 21,000 Gwei, I was able to send a CLO for some reason.
I don't understand what happened, but I solved it.

I'm sorry for my poor English. Thank you so much!

[2018-07-10 08:45] Wadance commented on #42
Why I still cannot see my CLO in my wallet?

[2018-08-06 13:33] Dexaran commented on #42
# Callisto Cold Staking testnet implementation.

Cold Staking contract is currently deployed at [0x99e318aa116bba18db83cfcfc9d071d8ddb6fa17](https://explorer-testnet.callisto.network/addr/0x99e318aa116bba18db83cfcfc9d071d8ddb6fa17) address.

This is a very first implementation of the Cold Staking solidity smart-contract which is intended to serve as a demonstrational and experimental version. Cont

[2018-08-06 14:02] Dexaran commented on #42
# How do I withdraw my TEST reward?

#### 1. Go to ClassicEtherWallet [Interact with Contract](https://ethereumproject.github.io/etherwallet/#contracts) tab. Input the `0x99e318aa116bba18db83cfcfc9d071d8ddb6fa17 ` address into the "Contract Address" input box.

#### 2. Go to [Cold Staking contract repo](https://github.com/EthereumCommonwealth/Cold-staking/blob/moonlight_3.1(testnet3)/ColdStaking.a

[2018-08-06 14:16] Dexaran commented on #42
# How do I check my reward?

#### 1. Go to ClassicEtherWallet [Interact with Contract](https://ethereumproject.github.io/etherwallet/#contracts) tab. Input the `0x99e318aa116bba18db83cfcfc9d071d8ddb6fa17 ` address into the "Contract Address" input box.

#### 2. Go to [Cold Staking contract repo](https://github.com/EthereumCommonwealth/Cold-staking/blob/moonlight_3.1(testnet3)/ColdStaking.abi) and

[2018-08-06 14:26] Dexaran commented on #42
### Human-friendly UI is coming next.

[2018-08-07 15:15] feqifei commented on #42
Hi, should staking procedure testing be possible in case CEW is managed through Metamask?

[2018-08-07 19:02] deadfinger91 commented on #42
I was having the same issue. You need to log into your CEW using a method besides MetaMask, such as the private key or keystore file. If you are logged out of MetaMask when you generate the transaction everything should go through without a problem. Good Luck!!!

[2018-08-08 03:01] feqifei commented on #42
Thanks man, logged out of MM and logged in through private key. It works now!

[2018-08-08 11:43] feqifei commented on #42
Hi, during the day I spent few time testing functions "stake", "claim" and "claim & withdraw" and here my feedbacks and questions.
In general it's a little bit difficult to understand if it's working as expected, because all transactions listed in testnet callisto network webpage from the stake address to my wallet show CLO quantity equal 0, even if the wallet receives some CLO.
1. In my test I st

[2018-08-30 19:15] aj07 opened #50 "Forum for upcoming research"
Is there any forum for discussion of upcoming research going on ETC labs?

[2018-09-28 13:55] #29 closed

[2018-09-28 15:10] Dexaran opened #51 "Cold Staking contract"
@yograterol @RideSolo @yuriy77k

I'd like to discuss the details of further Cold Staking contract implementation here.

At the moment we have 3 proposed variants:

1. [Dexaran's Cold Staking](https://github.com/EthereumCommonwealth/Cold-staking/tree/moonlight_3.1(testnet3)) ([description](https://docs.google.com/document/d/1LpRHzW7gGV1JfiXUQOmW-UEVF9TCNNWrYiItDuLgiGA/edit))

2. [Yuriy's Cold Staki

[2018-09-28 16:59] RideSolo commented on #51
Hello @Dexaran,
First of all, the proposal was to show an idea about how to handle the cold staking with a different angle so everyone can see that we have other possibility.

I will try to comment and ask some questions about the disadvantages:

- Higher complexity: mathematical proof can be more complex, but the implementation is simple.
- Incompatible with the first stake proposal : the propose

[2018-09-28 18:49] yuriy77k commented on #51
I did not see any problem in that example. Alice get little more reward, because her part in first 40 blocks not 0.6666, but little bit more (she was only holder for 10 blocks).
Bob get little bit more, because rewards pool was not 3200 CLO, but more on his part from first 10 blocks.

[2018-09-28 21:43] yuriy77k commented on #51
I've added [protection against valuable manipulation of block.timestamp](https://github.com/yuriy77k/Cold-staking/blob/d8a8eddfa024770c63d37f344ee2dd775a59dbc2/ColdStaking.sol#L118-L125)

[2018-09-28 21:59] RideSolo commented on #51
If you decide to go with @yuriy77k  's proposal, we should discuss the reward dependence to users transactions (withdraw, claim, stake).

The following statement is no true "Stakers can not directly affect each other with their deposits/withdrawals/claims. Reward calculation is more predictable" , check below for more information.

# Reward Computation dependent on Staker Actions (Transaction orde

[2018-09-29 09:07] Dexaran commented on #51
@RideSolo

Completely agree that there is a wide range of possible implementations each with its own advantages and disadvantages. I think that the version that we are going to pick now may be replaced with a better one in future as well.

We are going to implement 5M32 monetary policy but it may change in future as well ([whitepaper](https://drive.google.com/file/d/18NsazbbcMwmas7TIZRbDslIfNCVeLg

[2018-09-29 09:47] Dexaran commented on #51
Yes, the statement is not correct.
A staker can affect other stakers if he deposits a significant amount of funds in the contract before the others withdraw their rewards. Updated the comment.

I assume that this is similar to the dispersion of mining rewards.

If a `miner_1` will start mining when the network hashrate is 10 Th/s but the network hashrate will grow to 20 Th/s then the reward of `mi

[2018-09-29 12:49] yuriy77k commented on #51
@RideSolo

1. The reward is calculated and paid not for block, but for a month

2. This situation looks terrible if you look at it as presented (in blocks). But if interpellate it in real situation, we get:
30 days / 6 = 1 block is equivalent to 5 days
5000 CLO is about  5 times more then 900 CLO ( TotalStakingWeight).
So if in Cold Stking doposits only 10% of total amount of CLO, then on 6 block

[2018-09-29 13:38] RideSolo commented on #51
supposing a large number of starkers and not only one big staker, is similar since at the end they will have an accumulated weight, which will be a more common issue.

It is not really the same case since miners previous rewards at block i will not be affected by the future hash rate of the network. in the opposite the future TotalStakingWeight will affect the previous reward at any given block or

[2018-09-29 13:49] RideSolo commented on #51
Yes I understand this, but the month is not fixed for everyone, stakers can start staking when they want and the StakingRewardPool distribution doesn't take into account the cycles since everyone cycle is different.

My point was to show that the reward is dependent on users actions. and as commented earlier you can think of that stakers as thousands of small stakers who comes in the last week of

[2018-09-29 14:06] RideSolo commented on #51
@Dexaran @yuriy77k, correct If I'm wrong but the only way to give a fair reward and independent from any action to everyone is to fix a monthly cycle and with a fix reward pool for every month. for example all the starkers will be able to claim after every 30 days since cold staking start.

[2018-09-29 15:39] RideSolo commented on #51
@Dexaran @yuriy77k, I didn't notice before but, my formula and yuriy's formula are exactly the same at the only difference that I use a round_interval of 1 block only.

[2018-09-30 11:18] RideSolo commented on #51
@yuriy77k

The company give share holders their rewards in a fixed period from day x of the year to day y of the year, Yuriy's proposal set an x(i) and y(i) different for each staker i, the reward dependence comes from the non-fixed round_invetrval start of each user, as pointed out before the only way to avoid the reward dependence is to use the smalest unit of time available on the blockchain (r

[2018-09-30 13:52] yuriy77k commented on #51
round_invetrval  - a) time interval to froze Stakers deposits; b) time interval to calculate Stakers rewards.
In case of "a)" we can not make it = 1 block.

This is similar to the situation in real life:
Alice goes to work for 5 days, but actually works only 1 hour a day. Bob went to work for 1 day, but worked 8 hours. How do I pay my salary?

a) by the days (Alice get more)
b) by the hour (Bob ge

[2018-09-30 15:31] yuriy77k commented on #51
Replace Cold Staking contract is not trivial task. Will need to keep all customers address, amount of deposits and time of deposits... and others values...

[2018-09-30 16:48] RideSolo commented on #51
I do think that it will be the most fair solution, but some issues can be raised:

- Monthly network congestion, since all stakers will be claiming their rewards at the same period.
- And of course, what will be the repercusions on the coin price if a certain % of this claims will be sold.

Yes, I agree with you. how ever what I proposed is a round_interval=1 block to distribute the block reward (

[2018-09-30 17:33] RideSolo commented on #51
By not fixing a selected day, the stakers claim will be more distributed. this is part dexaran staking protocol.

It is not true, since if the day is not fixed the claims will be more distributed. if there is any sell volume coming from the claim rewards the volume will be more distributed.

[2018-09-30 17:40] yuriy77k commented on #51
so not fixed date - bad, fixed day - bad... :-)

[2018-09-30 17:43] RideSolo commented on #51
My proposal solve this issue, the date is not fixed and in the same time the reward in independent.
since as explained 'I proposed is a round_interval=1 block to distribute the block reward (20% of the mining block reward) and a waiting time equal to 1 month to freeze the reward, where the reward is the total reward of every block.'

[2018-09-30 17:49] yuriy77k commented on #51
since as explained 'I proposed is a round_interval=1 block to distribute the block reward (20% of the mining block reward) and a waiting time equal to 1 month to freeze the reward, where the reward is the total reward of every block.'

1. How you get block reward?

2. If staker claim his rewards after 40 days, he get rewards amount for 30 or 40 days?

[2018-09-30 17:55] RideSolo commented on #51
I have updated the proposal, the contract is completely independent from the monetary policy adopted or any future or changes through a planned or not planned hard fork. as I said i will share it soon.

if a staker stake at time X and claim after 40 days. he will get a reward of 40 days. and his lastClaim time will be set to X+40days, which will be a good enhancement that will push the claims to b

[2018-09-30 20:56] RideSolo commented on #51
@Dexaran @yuriy77k , Please note that I have updated the proposal (below is the links to the code and the proposal)
- Proposal: https://github.com/RideSolo/Cold-staking/blob/master/proposal.pdf
- Code: https://github.com/RideSolo/Cold-staking/blob/master/ColdStaking.sol

Advantages:
- Better reward calculation.
- Independent reward from users actions or transactions.
- Stakers can stake extra amou

[2018-10-01 07:35] Dexaran commented on #51
@RideSolo

Reviewing...

Honestly, I don't think that this is a problem. A good opportunity [buy the dip] (https://www.investopedia.com/terms/b/buy-the-dips.asp) attracts the attention of traders (thus increasing the adoption, network effect, liquidity and potential community of bagholders), that is rather good than bad, in long-term. It is necessary that the time intervals were large enough (for

[2018-10-01 08:12] RideSolo commented on #51
I got your point and it is true, but how about the network congestion we don't know the future usage of the cold staking contract or the adoption of Callisto cryptocurrency buy the crypto community.

[2018-10-01 08:28] RideSolo commented on #51
@Dexaran  "large quantities of claim-transactions", since after each 15th of every month all the users will withdraw their reward.

[2018-10-01 09:00] Dexaran commented on #51
Yes, this issue still stands and it is the disadvantage of having a fixed pay day.

Currently, the supply of CLO is 668M. Assuming that 70% of total CLOs are engaged in cold staking, Callisto bandwidth is 15 tx/s and an approximate amount of each stakers deposit is 1000 CLO, it will require **9 hours** to process all claim transactions.

In reality it will cause periodic increases in gas fees.

[2018-10-01 18:38] yuriy77k commented on #51
But users need to wait for complete 30 days after deposit time. So money will be frozen, but without new rewards.

[2018-10-03 11:07] RideSolo commented on #51
@Dexaran the proposed cold staking contract was updated, @yuriy77k  highlighted an error in the intervalReward computation.

[2018-10-04 11:08] yuriy77k commented on #51
@Dexaran added functions `freez` and `withdraw_rewards`.
To complete CS contract, please, clarify following:

1. Do we allow staker to withdraw deposit before 30 days? (propose: No)

2. When staker claim reward after 40 days, he got reward for 30 (10 days left on his account and he can claim next time at least after 20 days) or 40 days? (purpose: 30 days. It will stimulate staker to hold longer.)

[2018-10-04 14:59] Dexaran commented on #51
@yuriy77k

Applied some changes https://github.com/yuriy77k/Cold-staking/pull/1 .

No. We shouldn't allow stakers to claim before 30 days.

30 days.

Let's set it to 2 years then.

This function was necessary in my version of the contract. Now it is not necessary because `withdraw_stake` claims reward automatically in this version. We can get rid of `claim_and_withdraw`.

It is nice to have, howev

[2018-10-04 16:07] yuriy77k commented on #51
I already implement [reinvest](https://github.com/yuriy77k/Cold-staking/blob/5c4759b169f078719fe9c794ede1d59b50d8f383/ColdStaking.sol#L232-L258) function and it will not rise contract complexity too much.  However upgrade the contract in the future may cause more [inconvenience for stakers](https://github.com/EthereumCommonwealth/Roadmap/issues/51#issuecomment-426016471).

[2018-10-04 18:34] Dexaran commented on #51
Yes, I saw the code.
Each line introduces a new place for a bug to exist, even when each individual line is incredibly simple. Even when I fully understand the purpose of the new code, I know lurking in each line could be a subtle but important bug.

As we know, [writing bug-free code is almost impossible](https://en.wikibooks.org/wiki/Bug_Free_Programming). Let's recall the [80:20](https://dzone.

[2018-10-04 18:51] yuriy77k commented on #51
I would agree with you if it be completely different function code, but code of `reinvest` is almost copy-paste from `claim` function + `start_staking` function. So if `reinvest` contain bug the above functions will also contain bug. And no risk to get new bug.

[2018-10-04 20:30] Dexaran commented on #51
I tend to agree that my approach may cause a bit of inconvenience for the users, but it is normal for the very first release of the protocol.
It may also increase the number of transactions on the network, but I doubt that CLO will suffer serious bandwidth issues during the next half of the year.

Again, it is better to have a very primitive but working contract, than start with advanced hacked ve

[2018-10-04 20:37] Dexaran commented on #51
I would suggest moving forward and make a decision on final values for constant variables (`staking_threshold`, `round_interval`, `max_delay` and so on).

After that, we should update the contract so that it will be ready for use without any changes. We will perform a security audit and a bug bounty on the version of the contract that will not undergo any changes before deployment.

[2018-10-04 21:07] Dexaran commented on #51
### 1. staking_threshold

We have the following statement at the [Whitepaper](https://drive.google.com/file/d/18NsazbbcMwmas7TIZRbDslIfNCVeLgBY/view): `Minimal amount: No minimal threshold.`

I don't see any serious reason to change this. I think that it should be 0.
However, we need to keep the `staking_threshold` implementation at the contract because it is intended to be reusable. I'd like to p

[2018-10-05 15:32] yuriy77k commented on #51
Not exactly.  If staker hold 40 days and withdraw his deposit - he received reward only for 30 days (round_interval) and lose reward for 10 days. But reinvest() add full reward for 40 days to staker deposit (and begin new round), so it will be more profitable for users and stimulate it keep staking longer time.

[2018-10-05 17:36] RideSolo commented on #51
@yuriy77k @Dexaran, I just want to highlight something with the current proposal.
The stakers should be pushed to claim their reward otherwise if we suppose a positive growth of the total staked amount, if a user wait two months for example to claim, his two months reward will be less that if he claims twice (the first and second month) basically the formula is not linear.

[2018-10-06 07:15] Dexaran commented on #51
@yuriy77k

Yes, it is a bit more convenient for stakers.
If you re-stake each month or use the second account then it will still work properly.

I fully agree that the `reinvest()` function is a useful feature, but it is not of critical importance for us right now. That is why it is better to implement it after we make sure that the very basic version works properly.

Honestly, I don't see how it

[2018-10-06 20:50] Dexaran commented on #51
# Final implementation pattern.

1. Security audit of the Cold Staking contract.
2 Bug bounty.
3. Contract will be compiled and deployed at Callisto Mainnet before the hardfork date.
4. At 11th November, the hardfork №1 changes will be enabled. Contract will start to receive 20% of block rewards. Staking will not be enabled instantly.
5. At 12th November 0:0 UTC the staking will become available.

[2018-10-06 21:14] Dexaran commented on #51
# Conclusion.

I've reviewed both Yuriy's and RideSolo's versions of the Cold Staking.
RideSolo's version seems to be of arguable higher complexity. I think that for the first launch, the main focus is to show that [everything works as intended](https://github.com/EthereumCommonwealth/Roadmap/issues/51#issuecomment-427124840). Also, Callisto is an experimental project and both versions of the Stak

[2018-10-06 23:53] RideSolo commented on #51
The most important for me was to show the inconvenients of the yuriy's proposal, so everyone will know what to expect, and we all know that any possible idea has inconvenient and advantages.

Personally I will keep the repository up to date until then.

I agree with your vision.

[2018-10-07 07:02] Dexaran commented on #51
Sounds reasonable.

[2018-10-08 12:36] workvint commented on #42
Hi, today cold staking calculator was [removed from main site](https://github.com/EthereumCommonwealth/Callisto-Website/blob/24465dfa7ebc36a228409df67891bf020ff676ce/front/src/app/containers/ColdStaking.jsx#L8).

I remembered that there was originally a calculator on a third-party site. [This calculator](https://mining.alekseirubin.com/clostaking/?percent=100&deposit=150000) is mentioned in the [f

[2018-10-09 09:13] nn1k4 commented on #42
LTC is no longer available on the crypto-exchange  Hitbtc  (

[2018-10-11 02:16] Dexaran opened #52 "Cold Staking contract bug bounty."
# Scope

1. [ColdStaking.sol](https://github.com/EthereumCommonwealth/Cold-staking/blob/863846e510299b8cb07bab38c0b60d1bd78e9947/ColdStaking.sol).

# Contract overview

This is a system contract of [Callisto Network](https://callisto.network/).
The main purpose of this contract is to allow users to stake their coins and receive interest on CLO emission as a reward for holding their coins. A user i

[2018-10-11 02:17] #19 closed

[2018-10-11 02:17] #45 closed

[2018-10-11 02:18] #17 closed

[2018-10-11 02:19] #26 closed

[2018-10-13 14:06] mgistrat commented on #52
https://gist.github.com/mgistrat/b7c36c536e61c0d256ec4bd42cb6ff98

[2018-10-14 07:39] Dexaran commented on #52
# Callisto Security Audit is finished.

https://github.com/EthereumCommonwealth/Auditing/issues/77

All the bug reports may be published in the comments below now.

[2018-10-14 07:40] Dexaran commented on #52
@mgistrat "A staker will lose the deserved reward if he makes an additional deposit after the end of the round in case of Timestamp less then now."

This is not a bug/security vulnerability.
This situation is described in "Staking Rules": https://callisto.network/blog/post/callisto-network-cold-staking-protocol/

[2018-10-14 08:40] kabachok2 commented on #52
https://gist.github.com/kabachok2/634549b48cb5e0bb96c822e44b5e4666

[2018-10-14 13:38] yuriy77k commented on #52
@kabachok2

Need to remove LastBlock initialization.

This is not a bug/security vulnerability.
`uint public LastBlock = block.number;` is one-time initialization during smart contract deploy.

[2018-10-15 15:42] duychuongvn commented on #52
https://gist.github.com/betbether/187a40779c6ccb4c9931a789f78aa278

[2018-10-16 11:37] duychuongvn commented on #52
@Dexaran

It 's not make sense, there are 2 methods [ function claim() public only_stake] and [ function report_abuse(address _addr) public only_staker] with same permission.

The claim() method is used to claim stake, report_abuse() method is used to withdraw stake without any reward.
Why does user call report_abuse() method while they can  call  claim() to get reward first, after that they call

[2018-10-16 16:10] yuriy77k commented on #52
`report_abuse()`  is intended to return the deposit to an inactive user. It can be called by any staker who find an inactive user. Of cause, if user is active he can withdraw_stake() himself.

It can be called if need to update `StakingRewardPool`, `TotalStakingWeight`, `Timestamp` and `LastBlock` for some reason.

[2018-10-16 17:38] mgistrat commented on #52
https://gist.github.com/mgistrat/2f111ba241e398f0476c717f923babe8

[2018-10-18 08:17] dieselc commented on #52
@Dexaran @yuriy77k, I didn't think about the total reward that will double but in case of block reward reduction it will not double. I will update the gist.

[2018-10-18 10:47] yuriy77k commented on #52
@dieselc By Cold Staking rules, staker will receive the reward only for complete round interval (27 days).
If staker claim his reward after 27+26 days he receives the reward for 27 days, but he can do next claim after 1-day passed and will receive next reward for 27 days.
This is not a bug/security vulnerability.

[2018-10-18 11:30] yuriy77k commented on #52
@mgistrat

As this function is used only to inform it cannot cause loss of money or incorrect behavior of the contract.
I can classify this as a minor observation, non-security issue (10,000 CLO).
Please, send you CLO address.

[2018-10-28 10:30] Dexaran commented on #52
@mgistrat paid https://explorer2.callisto.network/tx/0x469c47b6a81fcc6bfd7e0989745d2aecc38782a072068037e99dfd9e14a1c89c

[2018-11-26 12:19] TomaszWaszczyk commented on #7
Anyone knows what is attitude ConsenSys on ETC?

[2018-12-18 14:11] #50 closed

[2018-12-18 14:11] #52 closed

[2018-12-18 14:21] aj07 commented on #50
Why it got closed?

[2018-12-18 15:10] Dexaran commented on #50
This is the Ethereum Commonwealth development team, not ETC Labs. You are asking in wrong place. I recommend that you ask ETC Labs team members.

[2019-01-08 20:13] #41 closed

[2019-01-14 20:17] Dexaran opened #53 "Decentralized governance system."
Callisto Treasury Governance system.

## Abstract

The following describes a decentralized funding mechanism for development and maintenance of Callisto Network platform. Anyone can submit a project proposal and the stakeholders will decide on its necessity through a transparent voting procedure. The system is fully verifiable. Vote records are preserved in Callisto Network blockchain.

## Core Co

[2019-02-08 19:38] yuriy77k commented on #53
Automatical sending fonds by smart contract based on voting is not a good idea.

Due to a lack of a control mechanism,
a scammer could make a good proposal (listing on an exchange, development of cool features, etc.) but after receiving money - will do nothing.

IMHO it will be even worse then ICO on Ethereum, where about 90% of them were scams. ICO investors spent their own money, therefore analy

[2019-02-15 21:10] Dexaran opened #54 "wallet.callisto.network `withdraw stake` functionality bug"
`gas required exceeds allowance or always failing transaction`

[2019-02-17 07:20] Dexaran commented on #53
@yuriy77k I would say that this payment scheme is not my own invention, but an already-existing governance system.
DASH is an example: https://www.dash.org/governance/

I would say that scammers definitely can affect the system, but it is still better to have a funding mechanism rather than stop the development of the main goal of Callisto Network.

Anyways, manual funding destribution is not dece

[2019-03-05 12:37] #54 closed

[2019-03-10 12:23] Dexaran opened #55 "Auditing Department: per contract reward calculation"
## Abstract

The following describes the proposed payment scheme for security auditors for their work. The developed scheme is universal and is based on the length of the code of the auditable smart contract.

## Specification

In the Security Department of Callisto, smart-contract auditors are paid once a month, on the 15th day of each month.

The total amount of payment is calculated based on th

[2019-03-10 13:06] RideSolo commented on #55
I think that the new proposed formula is the most suitable of all the proposed formulas, however the parameters values should be discussed more.

[2019-03-10 13:17] Dexaran commented on #55
Previously I proposed the minimal threshold and the previous version of the formula looked like this:

`reward = 10 000 + 20 000 *  floor( ( number_of_lines / 400 )`

The presence of the minimum threshold is based on the assumption that there is always a certain level of work that should be done, i.e. understanding the purpose of the contract and what this program should do.

This formula was reje

[2019-03-10 17:35] gorbunovperm commented on #55
1. How are the `auditor points` calculated? I think it's worth revealing in this proposal.

2. Often the complexity increases not in arithmetic progression. Much easier to make 4 audits with a 250 rows than 1 with a 1000 rows. For high-quality verification of contracts more than 600-700 lines need to spend considerable time. In such contracts, there are much more states and relationships between t

[2019-03-11 08:04] danbogd commented on #55
I agree with Alexander about item 2.

[2019-03-11 08:09] danbogd commented on #55
How will calculate the value of  sum (total points) including minor observation, low and medium issues? Their weight in this formula.

[2019-03-11 12:45] Dexaran commented on #55
@gorbunovperm @danbogd you're right, I've added the information about point weights.

[2019-03-11 16:08] MyCryptoOdyssey commented on #53
Some Comments & Questions on the proposed system:

"Community Treasury smart-contract allows anyone to submit a funding proposal. Proposal creation requires a small fee (500 CLO) to prevent spam/dummy proposals."

A small fee could be equivalent to a % of the request. Right now 500 CLO is $2.25 cents (at the moment) and seems arbitrary. For example if you are requesting 60,000 CLO for project you

[2019-03-14 08:47] RideSolo commented on #55
I will talk and about myself only, if any other auditor agree with me he can let us know.
We have previously agreed about being paid in USD or CLO, I have selected CLO  for many reasons and one of them is because I believe that CLO price will raise sooner or later.

The new formula will reduce the reward which is indirectly breaking the aggreement that we had. since we have been paid in average 2.

[2019-03-14 09:49] Dexaran opened #56 "Callisto Network monetary policy update."
# Callisto Monetary Policy

The initial [monetary policy](https://en.wikipedia.org/wiki/Monetary_policy) of CLO was temporarily and not suitable for long-term. The main goals of high emission monetary policy were:

- avoid the effect of price collapse right after the airdrop (watch EOS airdrops as an example of what could happen)

- attract miners and initiate Cold Staking

- reduce the influence

[2019-03-14 12:47] danbogd commented on #55
I agree with the new formula auditor earnings will be less. I would be satisfied with the payment which is valid now. You can enter an additional gradation by  low level errors, as an added bonus.

[2019-03-14 13:16] workvint commented on #56
@Dexaran How about reducing the fixed payment per month of *500 000* CLO (for the founders of the project) by the same percentage as the miners?

Perhaps this would be a good taste.

[2019-03-14 14:15] Mixavid commented on #56
With the introduction of a new monetary policy reward for cold stake, after a few years will be very small at the rate of one coin, consider the variation in the allocation of cold stake of a percentage of the income of the project ( for example, from the accelerated verification of the contract and other revenues that will have the project in a few years, with the introduction of new services). N

[2019-03-15 07:10] kirilusd commented on #56
This monetary policy is perfect. I prefer to start from 2500000.

[2019-03-16 07:39] DmZak commented on #56
Needs more % for investors ( Coldstakers ) to attract them. After Pirl implementation hashrate can be lowered. 3% in month during 2019 will be very attractive. You may claim, that you guarantee 2-3% during a year, without additional calculations from investor side. Too much % for miners, because miners are not straight investors and not interested in coin future

[2019-03-16 08:04] workvint commented on #56
@DmZak

Indeed it is.

But from start CS in last november CLO lose about  *40%* from BTC and if for this 4 month your CS got back this dump then you lucky.

And if you really look at the percentage, then *3%* can quickly fall to *2%* per month.

For two weeks, the number of shareholders has increased by 50 million CLO and the percentage you receive if you pick up now is *3.4%*, and two weeks ago i

[2019-03-16 09:59] DmZak commented on #56
I bought CLO in June  and you know price )) , but I believe in project and try to do it better? as I imagine perspective)

[2019-03-16 17:50] workvint commented on #56
@Dexaran

Does the team have a plan in case the price does not respond to a decrease in the block reward?

Is a more flexible revision of monetary policy possible in the future, for example, not once a year, but depending on conditions?

[2019-03-17 08:51] bokel1 commented on #56
@Dexaran Given the current state of the network and the expectations for the future of the project, a payroll of 500k CLO per month is rather controversial. How about stating dev's payroll from the treasury in fiat and not in CLO. Say, 10kUSD for the CEO, 10kUSD for the CRO, and so on.
500k CLO salary per month brings rather unfair power distribution between devs, miners and investors (holders and

[2019-03-19 01:15] HomeOfThePurist commented on #56
Well, first, good job CLO Network, you are very welcome in my world. I love the project.

First things first, about the monetary plan, you first need to understand that you have to get out of the "old world". This is the real challenge. You have to understand that if Cryptocurrencies have to succeed, the old system have to be recognized as obsolete.

In innovation class, our teachers told us that

[2019-03-20 07:26] vinnykahlon commented on #56
Reduction should start at 2500000 and POS or cold staking should be given preference. Less than 3 % reward would not be good enough for investors to keep staking . So it should seriously thought that over 3 % reward is important to keep stakers interested. Reduce rewards for minera increase for stakers.

[2019-03-20 09:32] workvint commented on #56
@kirilusd @vinnykahlon Where did block number *2 500 000* come from?

You did the calculations as a team, built graphs, maybe you know another market cycle in crypto industry?

[2019-03-20 12:55] MyCryptoOdyssey commented on #56
I tend to agree with this perspective. This is somewhat counter to the idea of cryptocurrency as a replacement to FIAT but it is a more stable representation of compensation. This does create more predictability in salary for the team.  I however think $10K is not worth while for the devs and it would need to be a higher amount.

[2019-03-20 13:42] kirilusd commented on #56
I think here many people do not realize that $ CLO exists thanks to the efforts of Dex, Yohan and others from the team. Why do you even comment on his salary. Indeed a 10k usd salary is ridiculous for the position and function of the management team. I suggest that, regardless of the price of CLO, Dex and Yohan's salary remains 500,000 CLO. This is exactly the idea and incentive for these people t

[2019-03-20 16:51] MyCryptoOdyssey commented on #56
Just to be clear I was responding to @bokel1. Actually given the current valuation of Callisto I think 500K Callisto is not enough. My point was to try and have a predictable method for paying the Team. I think we are on the same page there and I understand that using $CLO as the pay type that they would have more skin in the game (but hard to live your life without a predicable paycheck ergo my c

[2019-03-20 22:20] Frozenhead007 commented on #56
A few comments on shorting the miners. What happens when Clo is not worth mining? This is a proof of work coin right? I’m a miner supporting the network I’m currently paying $600 a month in electricity and get just enough Clo to cover that. If you short the miner who will uphold your network? I can always move on to something else but what will happen to Clo? I am for less inflation in the coin bu

[2019-03-21 03:09] DmZak commented on #56
Your $600 is not straight investment in CLO, its your investment in electric company) If hashrate be lowered, dufficulty be lowered too. After Pirl implementation CLO no need crazy high hashrate. I was ASIC miner, but sold everything and bought CLO. Wish CLO become POS coin)))

[2019-03-21 05:55] AlexKh40 commented on #56
May be make one more wallet to accumulate CLO (get 5% from mining percent, for example)/ This wallet will be activated 03.03.2022 and increase cold stacking treasury every month for fixed count of coins.

[2019-03-21 13:53] Frozenhead007 commented on #56
Your $600 is not straight investment in CLO, its your investment in electric company) If hashrate be lowered, dufficulty be lowered too. After Pirl implementation CLO no need crazy high hashrate. I was ASIC miner, but sold everything and bought CLO. Wish CLO become POS coin)))

Without a miner creating the coin and upholding the Clo network you would have nothing! This is not a POS coin.  Believe

[2019-03-21 14:22] Frozenhead007 commented on #56
Research needs to be done if they really want to make this work in the future for this coin. 3% a month is just insane. It will never work out in the long run. Look at the highest yielding dividend on the DOW. Most of the good ones are 4 or 5% per YEAR. I could see 10 or 15% return for staking (dividend) for this coin and maybe it might not collapse on itself. I have not run their numbers yet beca

[2019-03-22 00:44] DmZak commented on #56
Its a crypto market with normal +- 5% exchanging rate a day. We have a lot coins on market with reward from 0.5 to 120% a year. We are not first and biggest in reward. In POS we have a chance to convert all inflation in stakers reward, but in POW our inflation higher, then stakers% 3 times. With reward 4-5% a year, CLO have no interest for investors. In autumn 2019 CLO monthly interest be 2% its a

[2019-03-22 03:14] DmZak commented on #56
Its a crypto market with normal +- 5% exchanging rate a day. We have a lot coins on market with reward from 0.5 to 120% a year. We are not first and biggest in reward. In POS we have a chance to convert all inflation in stakers reward, but in POW our inflation higher, then stakers% 3 times. With reward 4-5% a year, CLO have no interest for investors. In autumn 2019 CLO monthly interest be 2% its a

[2019-03-30 20:16] workvint commented on #56
The document attached in the title ([New monetary policy](https://docs.google.com/spreadsheets/d/1WtxDprdbxO0Xmm4dBWeazvnT6fp_xYXw6fe3hCDBpCk/)) describes well what will happen with the CS percentage within 65 years.

For those who are too lazy to read :)

On condition of a freezing of 50% of coins.

* After the first decrease at the end of May of this year, the CS percentage per round will be **2

[2019-04-10 17:17] Dexaran opened #57 "Auditing Department: per contract reward calculation v2"
## Abstract

The following describes the proposed payment scheme for security auditors for their work. The developed scheme is universal and is based on the length of the code of the auditable smart contract.

## Motivation

One of the main goals of Callisto is to develop a self-sustaining DAO-like security auditing department structure. Therefore, the payment schema should ensure a high level of

[2019-04-10 17:29] tatam3x commented on #42
Bonjour,
Je viens de signer la pétition "Non à la privatisation d’Aéroports de Paris
!" et je souhaitais savoir si vous voudriez nous aider en ajoutant votre
signature.

Notre objectif est d'atteindre 200 000 signatures et nous avons besoin de
plus de soutiens. Pour en savoir plus et pour signer, c'est ici:

http://chng.it/PmhMgxNX5L

Merci!
Fred

[2019-04-15 22:35] Dexaran opened #58 "Auditing Department: per contract reward calculation v3"
## Abstract

The following describes the proposed payment scheme for security auditors for their work. The developed scheme is universal and is based on the length of the code of the auditable smart contract.

## Motivation

One of the main goals of Callisto is to develop a self-sustaining DAO-like security auditing department structure. Therefore, the payment schema should ensure a high level of

[2019-04-19 03:50] gorbunovperm commented on #57
As written above: `audit reward = 100 * [number of lines]`
But below that: `Auditor 1 = 1612 * 400 * 28 / (28 + 55 + 5) = 205163.63 CLO`

Is audit reward equal to `100 * 1612` or `400 * 1612` ?

[2019-04-24 16:14] Dexaran commented on #57
@gorbunovperm Audit reward is equal to 100 * [number of lines]

400 was just an experimental coefficient. 100 CLO per line will be used now.

[2019-05-06 09:36] Dexaran commented on #56
@workvint

Well, we are not trying to artificially manipulate the price. We are going to create a long-term sustainable ecosystem and introduce changes that we believe are necessary for further development.

I would say that it is possible but we do not have any plans yet.

[2019-05-06 09:38] Dexaran commented on #56
@bokel1

500k CLO salary per month brings rather unfair power distribution between devs, miners and investors (holders and stakers).
It is fair to say that devs have started it all, miners made it possible to run, but the community will make it or break it...

We do not have any plans to update the payment schedule yet.
We do not have any plans to update the payments yet. For the moment it will st

[2019-05-06 09:50] Dexaran commented on #56
@HomeOfThePurist

We should not just discard “old concepts” and invent our own new ones. The global economy does not change quickly and the processes do not occur instantly.

If you think that cryptocurrencies will replace fiat and the banks will fall tomorrow then I will disagree. This is not how things are made in global economy area.

One of the main concepts of cryptocurrencies is censorship r

[2019-05-06 10:00] Dexaran commented on #56
@Frozenhead007

The coin can not be "not worth mining" if its price is not equal to zero. If the price drops and the hashrate drops in the same ratio then the profitability will remain the same.

In addition we evaluate the switching to POS or POS/POW hybrid consensus. If the hashrate will drop significantly then we will switch the consensus algorithm in the next hardfork.

The system is intended

[2019-05-06 10:06] Dexaran commented on #56
@DmZak

I would say that 4% - 7% ROI is a good target. However, we are not directly determining the ROI with our monetary policy. The actual ROI is determined by the community of stakers and the amount of staked CLOs.

As I've mentioned earlier we only determine the % allocation between miners and stakers.

[2019-05-06 10:07] Dexaran commented on #56
The fact that CLO may have that high ROI indicates that we are in the very early stage. Early adopters earn more but their risks are higher.

[2019-05-17 12:15] MrToph commented on #57
The resulting numbers in `Auditor's salaries` are off and in $. (Auditor 2 earns less than Auditor 1 even though he/she has more points.)

[2019-05-17 17:19] Dexaran commented on #57
You are right, this was a typo. Fixed now.

[2019-06-19 13:38] Dexaran opened #59 "Security Auditing Department update: hiring procedure and 3d party involvement."
# Abstract

The following are sets of rules that, in my opinion, need to be implemented in the Security Department of Callisto to ensure full functionality.

# Motivation

Callisto is intended to be a decentralized auditing platform. The process of hiring is still a centralized aspect of the project which needs to be updated.
The main purpose of this changes is to make Callisto Auditing Department

[2019-06-19 13:55] Dexaran commented on #59
List of currently approved auditors of Callisto:

- @RideSolo

- @MrCrambo

- @danbogd

- @gorbunovperm

[2019-08-09 12:40] Dexaran commented on #53
This may be a good option, but for now 500 should be enough. Gas prices are very low on CLO but no one is trying to spam the network even with this prices.

Proposal should contain the URL where it will be described formally. We will release the guidelines for proposal representations later.

For the first version - no.

We will do out best to help voters understand the system but we need mostly t

[2019-08-23 08:13] Dexaran commented on #42
This staking calculator is pretty accurate: https://stakingrewards.com/asset/clo

(They have some mistakes about CLO consensus type at their website but the staking-related numbers are fine)

[2019-08-23 08:15] Dexaran commented on #42
New Cold Staking v2 contract source code: https://github.com/EthereumCommonwealth/Cold-staking/tree/RideSolo_linear_formula

The contract is deployed at CLO testnet: 0x634403dcf096f429b28254b1f5ead9d80bbbbe06

The cold staking update is necessary to proceed with the governance system.

The governance system contract is here: https://github.com/EthereumCommonwealth/Governance-System

Governance sys

[2019-08-27 13:23] Dexaran opened #60 "Governance System UI"
The following describes a graphical interface to simplify the interaction with the [Governance System smart-contract](https://github.com/EthereumCommonwealth/Governance-System) of Callisto Network.

# Definition

The UI must represent a modification of [wallet.callisto.network](https://wallet.callisto.network/) service.

It must contain two new tabs:

- Vote Proposal

- Submit Proposal

# Vote Pro

[2019-08-27 17:23] Dexaran commented on #60
Test implementation of the governance contract deployed at CLO MAINNET: https://explorer2.callisto.network/addr/0x590396425fc45f69568ac02fda01fdd3ff09efea

[2019-08-27 17:23] Dexaran commented on #60
[code]

[2019-08-27 17:25] Dexaran commented on #60
`Test Proposal` is created.

Query `0xeac4b25d9db71364cb2a2812dbc47eed8e23f9ffc223b07b7ed2dcef7d02d9bc` name hash to obtain the proposal info.

[2019-09-10 11:27] Dexaran commented on #60
New governance system contract is deployed here: [0xcd184d60e04389416ecf09d2cb2cd39d5cf19b19](https://explorer2.callisto.network/addr/0xcd184d60e04389416ecf09d2cb2cd39d5cf19b19)

ABI:

[code]

[2019-11-28 14:47] adamlaska commented on #42
:smiley:

[2019-12-30 19:04] Dexaran commented on #48
New version of the financial report is added. Pre-GDPR financial report will not be updated anymore. The old version is only presented for history-proof reasons.

[2020-01-14 20:56] slavserver commented on #56
Dear developers, did your project become of no interest to you? please provide updated information to the pool operators about the monetary policy of your network

[2020-01-20 09:38] Dexaran commented on #56
Due to the hard fork on the 2900000 block, we have shifted the reward change dates by 150,000 blocks.

The next reward reduction will happen at block 4,400,000.

[2020-01-20 22:54] Spigfish commented on #56
Some other awesome news for miners as well!
https://callisto.network/blog/post/callisto-network-introduces-the-dynamic-gas-price-feature/

[2020-01-21 08:18] Dexaran commented on #42
Forming a TODO List for the Callisto team:

- CORE: GasPrice adjustment feature is not described in the Roadmap proposals. It needs to be recorded. https://callisto.network/blog/post/callisto-network-introduces-the-dynamic-gas-price-feature/

- PERIPHERAL/ECOSYSTEM: Web wallet update is required. Currently, ClassicEtherWallet and wallet.callisto.network are failing to handle with ETC/ETH RPC node

[2020-01-21 08:46] #36 closed

[2020-01-21 08:47] Dexaran commented on #34
Closing this due to lack of contributors.

[2020-01-21 08:47] #34 closed

[2020-01-21 08:47] Dexaran commented on #21
The Vyper compiler is developed: https://codepen.io/yograterol/full/aypYjP/

[2020-01-21 08:47] #21 closed

[2020-01-21 08:48] Dexaran commented on #12
Closing this due to lack of funding for Ethereum Classic improvements as well as the lack of interest from the side of ETC community.

ETC is not struggling with scalability issues at the moment.

[2020-01-21 08:48] #12 closed

[2020-01-21 08:51] #28 closed

[2020-02-07 10:21] Dexaran opened #61 "Dynamic Gas Price"
## Definition

The `Dynamic Gas Price` is a feature that will not allow to submit transactions with `gasPrice` lower than the established minimum at protocol level. It is proposed to set a minimum of 5,000 GWei and adjust the minimum transaction price in accordance with the CLO:USD ratio.

The CLO price will be submitted on-chain by the price oracle contract that will be operated by Callisto Team

[2020-02-10 19:05] Dexaran opened #62 "Auditing Department: business model amendment v1"
This amendment to the Security Auditing Department workflow is intended to establish a set of rules for accepting, approving and paying security audit requests at Callisto Network.

# Motivation

Previously Callisto Team accepted any security audit requests and handled them free-of-charge by subsidizing the work of auditors from Treasury fund. Audits were processed in a continuous queue as auditor

[2020-03-01 19:33] yograterol opened #63 "Idavoll HF #1 - 2020"
# Motivation

Following the development of the Callisto Network and the whitepaper goals (https://whitepaper.callisto.network/), Callisto Team introduces changes to Callisto blockchain to take a big step forward in the development of the project.

With this HF, Callisto Team delivers the last promises from the whitepaper, giving more power to the community to choose the future of the project and n

[2020-03-03 01:07] Spigfish commented on #60
Hello!

I see that in EOS you can delegate your votes to someone else (proxys).  Is this something that is considered for the CLO governance?
I guessing that is has been added on EOSIO to raise the amount of EOS that takes part in all the different the votes
On the other hand maybe it could create to powerful proxys also.

What are you thoughts around this ?

[2020-03-13 16:43] RideSolo commented on #63
Very excited to see my staking proposal accepted by callisto :)

[2020-03-30 08:20] xiaods commented on #7
Anyone knows what is attitude ConsenSys on ETC?

[2020-03-30 11:48] xiaods commented on #7
I have already found a solution:  https://www.ethercluster.com/

[2021-02-19 20:24] Geo25rey commented on #51
@Dexaran Sorry, I'm late to the party, but I'm curious to why a staking contract can't have funds added to it before the end of 27 days. Surely, there can be a way to allow a user to continuously add to their stake. Maybe allow each wallet to have multiple staking contracts that can start at different times?

Another solution would be allowing certain modifications (e.g. adding funds) of a staking

[2021-05-21 08:53] Dexaran commented on #58
Deprecated. Audits are now paid upon the revealing of the report.

[2021-05-21 08:54] #58 closed

[2021-05-21 08:59] Dexaran opened #64 "Auditing Department amendment v4"
This amendment to the Security Auditing Department workflow is intended to establish a set of rules for accepting, approving and paying security audit requests at Callisto Network.

# Motivation

Previously Callisto Team accepted any security audit requests and handled them free-of-charge by subsidizing the work of auditors from Treasury fund. Audits were processed in a continuous queue as auditor

[2021-05-25 12:00] Dexaran opened #65 "Auditing Department extension: security guidances"
## 1. Preamble

As a result of the analysis of the past contract hacks, and in particular the recent [$12,400,000 hack of VultSX](https://gist.github.com/Dexaran/9b6f8e1ec25e5c23176577c8e6fc3306), it became obvious that the activity of security auditors does not sufficiently reduce the damage from the security vulnerabilities of smart-contracts.

As security auditors, we must not only check the co

[2021-08-30 12:16] Dexaran opened #66 "SoyFinance bug bounty"
# Scope

1. [SoyFinanceFactory.sol](https://github.com/SoyFinance/smart-contracts/blob/32c9a602a092ba989cf66d13cc331a3d15650cfb/SoyFinanceFactory.sol).
2. [SoyFinanceRouter.sol](https://github.com/SoyFinance/smart-contracts/blob/32c9a602a092ba989cf66d13cc331a3d15650cfb/SoyFinanceRouter.sol).
3. [SoyToken.sol](https://github.com/SoyFinance/smart-contracts/blob/32c9a602a092ba989cf66d13cc331a3d15650c

[2022-07-26 17:29] #66 closed

[2022-07-26 17:30] #63 closed

[2022-08-09 17:35] Navasan001 commented on #48
2

[2022-08-10 21:01] Dexaran commented on #48
do you have a question?

[2022-11-04 17:19] Dexaran commented on #48
Callisto Treasury address (https://explorer.callisto.network/address/0x74682Fc32007aF0b6118F259cBe7bCCC21641600/transactions) and Staking Reserve address (https://explorer.callisto.network/address/0x3c06f218Ce6dD8E2c535a8925A2eDF81674984D9/transactions) links were updated as we are now using a new blockchain explorer https://explorer.callisto.network/